<p-accordion>
    <p-accordionTab header="Fluid Intake">
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-4">
                <label class="bold">Date and Time of Capture:</label>
                <p-calendar [(ngModel)]="DailyNewFluidIntake.CaptureTime"  [showTime]="true" [showSeconds]="true" inputId="time"></p-calendar>
            </div>
            <div class="field col-12 md:col-4">
                <label class="bold">Daily Intake Target:</label>
                {{DailyIntakeObj.TargetIntake}} ml
            </div>
        </div>
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-2 mr-2 mt-5">
                <img src="./assets/Images/WaterGlass.png" style="height:120px;width: 120px;cursor: pointer;" matTooltip="Water"
                (click)="SelectFluid('Water',200)"
                class="custom-ico " [ngClass]="{'imgborder': SelectedFluid=='Water'}">
                <label class="bold">Maximum : 200ml</label>
            </div>
            <div class="field col-12 md:col-2 mr-2">
                <img src="./assets/Images/JuiceGlass.png" style="height:150px;width: 150px;cursor: pointer;" matTooltip="Juice"
                (click)="SelectFluid('Juice',200)"
                class="custom-ico " [ngClass]="{'imgborder': SelectedFluid=='Juice'}">
                <label class="bold">Maximum : 200ml</label>
            </div>
            <div class="field col-12 md:col-2 mr-2" >
                <img src="./assets/Images/Milk_glass.png" style="height:150px;width: 150px;cursor: pointer;" matTooltip="Milk"
                (click)="SelectFluid('Milk',150)"
                class="custom-ico " [ngClass]="{'imgborder': SelectedFluid=='Milk'}">
                <label class="bold">Maximum : 150ml</label>
            </div>
            <div class="field col-12 md:col-2 mr-2" >
                <img src="./assets/Images/TeaCup.png" style="height:150px;width: 150px;cursor: pointer;" matTooltip="Tea"
                (click)="SelectFluid('Tea',150)"
                class="custom-ico "   [ngClass]="{'imgborder': SelectedFluid=='Tea'}">
                <label class="bold">Maximum : 150ml</label>
            </div>
            <div class="field col-12 md:col-2 mr-2">
                <img src="./assets/Images/CofeeMug.png" style="height:150px;width: 150px;cursor: pointer;" matTooltip="Cofee"
                (click)="SelectFluid('Cofee',200)"
                class="custom-ico " [ngClass]="{'imgborder': SelectedFluid=='Cofee'}">
                <label class="bold">Maximum : 200ml</label>
            </div>
        </div>
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-3 mr-3">
                <span class="p-float-label">
                    <p-inputNumber inputId="inputDailyIntakeFluid" [max]="MaxFluidQty" [min]="0" [(ngModel)]="DailyNewFluidIntake.FluidIntakeQty"></p-inputNumber>
                    <label class="bold" for="inputDailyIntakeFluid">Daily Fluid Intake Qty in ml</label>
                </span>
            </div>
            <div class="field col-12 md:col-3 mr-3">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText [(ngModel)]="DailyNewFluidIntake.UpdatedBy">
                    <label for="inputtext" class="bold">Updated By</label>
                </span>
            </div>
            <div class="field col-12 md:col-3 mr-3">
                <button pButton label="Save" (click)="SaveIntakeFluid()"></button>
            </div>
        </div>
    </p-accordionTab>
    <p-accordionTab header="Fluid O/P">
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-4">
                <label class="bold">Date and Time of Capture:</label>
                <p-calendar [(ngModel)]="DailyNewFluidOutput.CaptureTime"  [showTime]="true" [showSeconds]="true" inputId="time"></p-calendar>
            </div>
            <div class="field col-12 md:col-3 mr-3">
                <span class="p-float-label">
                    <p-dropdown inputId="dropdownFluidTypeOut" [autoDisplayFirst]="false" [options]="lstFluidOutType" [(ngModel)]="DailyNewFluidOutput.FluidType" optionLabel="FluidType" optionValue="FluidType"></p-dropdown>
                    <label for="dropdown" class="bold">Fluid Type</label>
                </span>
            </div>
            <div class="field col-12 md:col-3 mr-3">
                <span class="p-float-label">
                    <p-inputNumber inputId="inputDailyOutputFluid"  [min]="0" [(ngModel)]="DailyNewFluidOutput.FluidOutQty"></p-inputNumber>
                    <label class="bold" for="inputDailyOutputFluid">Daily Fluid Output Qty in ml</label>
                </span>
            </div>
            <div class="field col-12 md:col-3 mr-3">
                <span class="p-float-label">
                    <input type="text" id="inputtextOut" pInputText [(ngModel)]="DailyNewFluidOutput.UpdatedBy">
                    <label for="inputtextOut" class="bold">Updated By</label>
                </span>
            </div>
            
            <div class="field col-12 md:col-3 mr-3">
                <button pButton label="Save" (click)="SaveFluidOutput()"></button>
            </div>
        </div>
    </p-accordionTab>
    <p-accordionTab header="History">
        <p-table *ngIf="lstFluidDetails?.length>0" #dt1 [value]="lstFluidDetails" [paginator]="true" [rows]="9" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                        (click)="clear(dt1)"></button>
                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
                            placeholder="Search Keyword" class="w-full" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>CaptureDate</th>
                    <th pSortableColumn="FluidType">Fluid Type <p-sortIcon field="FluidType"></p-sortIcon>
                    </th>
                    <th pSortableColumn="ContainerName">Container Name <p-sortIcon field="ContainerName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="FluidQty">Fluid Qty <p-sortIcon field="FluidQty"></p-sortIcon>
                    </th>
                    <th pSortableColumn="UpdatedBy">Updated By <p-sortIcon field="UpdatedBy"></p-sortIcon>
                    </th>
                    <th pSortableColumn="UpdatedDate">Updated Date <p-sortIcon field="UpdatedDate"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-resident>
                <tr>
                    <td style="width: 35%; min-width: 7rem;">{{resident.CaptureDate}}</td>
                    <td style="width: 35%; min-width: 7rem;">{{resident.FluidType}}</td>
                    <td style="width: 35%; min-width: 7rem;">{{resident.ContainerName}}</td>
                    <td style="width: 35%; min-width: 8rem;">{{resident.FluidQty}}</td>
                    <td style="width: 35%; min-width: 8rem;">{{resident.UpdatedBy}}</td>
                    <td style="width: 35%; min-width: 8rem;">{{resident.UpdatedDate}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-accordionTab>
    <p-accordionTab header="Chart">
        <div class="card">
            <h5 style="text-align:center ;">Date Wise Target vs Actual Fluid Intake</h5>
            <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>
        </div>
    </p-accordionTab>
    <p-accordionTab header="Daily Intake Target">
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-4">
                <label class="bold">Recent Daily Intake:</label>
                {{DailyIntakeObj.TargetIntake}} ml
            </div>
            <div class="field col-12 md:col-4">
                <label class="bold">Recent Daily Intake Time:</label>
                {{DailyIntakeObj.TargetTime}}
            </div>
            <div class="field col-12 md:col-4">
                <label class="bold">Last Updated By:</label>
                {{DailyIntakeObj.UpdatedBy}}
            </div>
            <div class="field col-12 md:col-4">
                <label class="bold">Last Updated Time:</label>
                {{DailyIntakeObj.UpdatedTime}}
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <label class="bold"></label>
                    <p-inputNumber inputId="inputDailyIntakeTarget" [(ngModel)]="DailyIntakeObj.IntakeDailyTarget"></p-inputNumber>
                    <label class="bold" for="inputDailyIntakeTarget">Daily Intake Target in ml</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <label class="bold">Daily Intake Start Time:</label>
                <p-calendar [(ngModel)]="DailyIntakeObj.StartTime" [timeOnly]="true"  inputId="timeonly"></p-calendar>
                <!-- <p-calendar [(ngModel)]="DailyIntakeObj.StartTime"  [showTime]="true" [showSeconds]="true" inputId="time"></p-calendar> -->
            </div>
            <div class="field col-12 md:col-4">
                <button pButton label="Submit" (click)="SaveTargetIntake()"></button>
            </div>
        </div>
    </p-accordionTab>
</p-accordion>