<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="profile-box">
                <div class="profile-img">
                    <img [src]="profileUrl+ (ResidentMaster.profileimage==''? 'no-picture.png': ResidentMaster.profileimage)" class="w-6 shadow-2 my-1 mx-0">
                </div>
                <h1>{{ResidentMaster.firstname}} {{ResidentMaster.lastname}}</h1>
                <div class="detail-table">
                <table class="table">
                    <tr>
                        <td>Age</td>
                        <td>:</td>
                        <td>{{calculateAge(ResidentMaster.dateofbirth)}}y ({{ResidentMaster.dateofbirth|date:customDateFormat.DEF_DATE}})</td>
                    </tr>
                    <tr>
                      <td>Gender</td>
                      <td>:</td>
                      <td>{{ResidentMaster.gender}}</td>
                   </tr>
                    <tr>
                        <td>Room</td>
                        <td>:</td>
                        <td>{{ResidentMaster.roomnumber}}</td>
                    </tr>
                    <tr>
                      <td>Status</td>
                      <td>:</td>
                      <td>{{admissionStatus[ResidentMaster.admissionstatus]}}</td>
                  </tr>
                    
                    
                </table>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card pb-0 profile-tab">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">Profile</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="progress-tab" data-bs-toggle="tab" data-bs-target="#progress" type="button" role="tab" aria-controls="progress" aria-selected="false">Progress notes</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="care-tab" data-bs-toggle="tab" data-bs-target="#care" type="button" role="tab" aria-controls="care" aria-selected="false">Care plan</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="forms-tab" data-bs-toggle="tab" data-bs-target="#forms" type="button" role="tab" aria-controls="forms" aria-selected="false">Forms</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="charts-tab" data-bs-toggle="tab" data-bs-target="#charts" type="button" role="tab" aria-controls="charts" aria-selected="false">Charts</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="actions-tab" data-bs-toggle="tab" data-bs-target="#actions" type="button" role="tab" aria-controls="actions" aria-selected="false">Actions (0)</button>
                  </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="alerts-tab" data-bs-toggle="tab" data-bs-target="#alerts" type="button" role="tab" aria-controls="alerts" aria-selected="false">Alerts (0)</button>
                </li>
              </ul>
        </div>
        <div class="card">            
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    
                </div>
                <div class="tab-pane fade" id="progress" role="tabpanel" aria-labelledby="progress-tab">...</div>
                <div class="tab-pane fade" id="care" role="tabpanel" aria-labelledby="care-tab">...</div>
                <div class="tab-pane fade" id="forms" role="tabpanel" aria-labelledby="forms-tab">...</div>
                <div class="tab-pane fade" id="charts" role="tabpanel" aria-labelledby="charts-tab">...</div>
                <div class="tab-pane fade" id="actions" role="tabpanel" aria-labelledby="actions-tab">...</div>
                <div class="tab-pane fade" id="alerts" role="tabpanel" aria-labelledby="alerts-tab">...</div>
              </div>
        </div>
    </div>
</div>