<div class="row">
    <div class="col-md-6">
        <div class="card p-0">
            <div class="card-header">Resident Indicators</div>
            <div class="card-body">-</div>
        </div>
    </div>
<div class="col-md-6">
    <div class="card p-0">
        <div class="card-header">Like, Dislikes and Hobbies</div>
        <div class="card-body">-</div>
    </div>
</div>
</div>
<div class="row mt-5">
    <div class="col-md-6">
        <div class="card p-0">
            <div class="card-header">Today's Activity</div>
            <div class="card-body">-</div>
        </div>
    </div>
<div class="col-md-6">
    <div class="card p-0">
        <div class="card-header">Today's Appointment</div>
        <div class="card-body">-</div>
    </div>
</div>
</div>