<div class="row">
    <div class="col-md-6">
        <div class="card p-0">
            <div class="card-header">Resident Indicators</div>
            <div class="card-body box-height box-height2">
                <p-table class="ColumnFilterTable" #dt [value]="lstResidentIndicators" datakey="groupname"
                    [rowHover]="true" [globalFilterFields]="['indicatorname']" [scrollable]="true"
                    scrollHeight="calc(100vh - 10px)" responsiveLayout="scroll">
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="columns?.length">
                                No records found
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-i="rowIndex">
                        <tr style="border-top: 1px solid #e3e3e3;" *ngIf="rowGroupMetadata[item.groupname].index == i">
                            <td style="font-weight:bold;font-size: 16px; width: 100%;">
                                <span>{{item.groupname}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 100%;">
                                {{item.indicatorname}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card p-0">
            <div class="card-header">Like, Dislikes and Hobbies</div>
            <div class="card-body h250">
             
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label">Like</label>
                            <div *ngIf="likemode=='edit'">
                                <input pInputText type="text" class="form-control" name="txtLikes"
                                    [(ngModel)]="ResidentMaster.likes" placeholder="" />
                            </div>
                            <div class="my-2" *ngIf="likemode=='view'">{{ResidentMaster.likes}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label">Dislikes</label>
                            <div *ngIf="likemode=='edit'">
                                <input pInputText type="text" class="form-control" name="txtDislikes"
                                    [(ngModel)]="ResidentMaster.dislikes" placeholder="" />
                            </div>
                            <div class="my-2" *ngIf="likemode=='view'">{{ResidentMaster.dislikes}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label">Hobbies</label>
                            <div *ngIf="likemode=='edit'">
                                <input pInputText type="text" class="form-control" name="txtHobbies"
                                    [(ngModel)]="ResidentMaster.hobbies" placeholder="" />
                            </div>
                            <div class="my-2" *ngIf="likemode=='view'">{{ResidentMaster.hobbies}}</div>
                        </div>

                    </div>
               

            </div>
            <div class="card-footer">
                <div>
                    <button *ngIf="likemode=='view'" pButton type="button" label="Edit" class="btn btn-primary"
                        (click)="likeedit()" [disabled]="isEditable"></button>
                    <button *ngIf="likemode=='edit'" pButton type="button" label="Save" class="btn btn-primary"
                        (click)="updateResident()"></button>
                    <button *ngIf="likemode=='edit'" pButton type="button" label="Cancel" class="btn btn-secondary ml-2"
                        (click)="likeclose()"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-6">
        <div class="card p-0">
            <div class="card-header">Today's Activity</div>
            <div class="card-body">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div *ngIf="activitymode=='edit'">
                                <textarea class="form-control" rows="4" name="activity"
                                    [(ngModel)]="ResidentMaster.activity" style="width: 100%;"></textarea>

                            </div>
                            <div class="my-2" *ngIf="activitymode=='view'">{{ResidentMaster.activity}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div>
                    <button *ngIf="activitymode=='view'" pButton type="button" label="Edit" class="btn btn-primary"
                        (click)="activityedit()" [disabled]="isEditable"></button>
                    <button *ngIf="activitymode=='edit'" pButton type="button" label="Save" class="btn btn-primary"
                        (click)="updateResident()"></button>
                    <button *ngIf="activitymode=='edit'" pButton type="button" label="Cancel"
                        class="btn btn-secondary ml-2" (click)="activityclose()"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card p-0">
            <div class="card-header">Today's Appointment</div>
            <div class="card-body">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div *ngIf="appointmentmode=='edit'">
                                <textarea class="form-control" rows="4" name="appointment"
                                    [(ngModel)]="ResidentMaster.appointment" style="width: 100%;"></textarea>
                            </div>
                            <div class="my-2" *ngIf="appointmentmode=='view'">{{ResidentMaster.appointment}}</div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div>
                            <button *ngIf="appointmentmode=='view'" pButton type="button" label="Edit"
                                class="btn btn-primary" (click)="appointmentedit()" [disabled]="isEditable"></button>
                            <button *ngIf="appointmentmode=='edit'" pButton type="button" label="Save"
                                class="btn btn-primary" (click)="updateResident()"></button>
                            <button *ngIf="appointmentmode=='edit'" pButton type="button" label="Cancel"
                                class="btn btn-secondary ml-2" (click)="appointmentclose()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>