<p-accordionTab>
    <p-header class="w-100">
        <div class="acc-tab">
            <span>Resident preferences</span>
            <div>
            <button *ngIf="mode=='view'" pButton type="button" label="Edit" 
                (click)="edit()" [disabled]="(admissionid==null || admissionid==undefined)"></button>
            <button *ngIf="mode=='edit'" pButton type="button" label="Save"
                (click)="save()"></button>
            <button *ngIf="mode=='edit'" pButton type="button" label="Close" class="p-button-secondary ml-2"
                (click)="close()"></button>
            </div>
        </div>
</p-header>
<div *ngIf="mode=='view'">
    <h5>DNAR/DNACPR</h5>                    
    <div class="row"> 
        <div class="col-md-3">
            <label class="form-label">DNAR/DNACPR is in place?</label>
            {{ResidentMaster.isdnar}}
        </div>
        <div class="col-md-3">
            <label class="form-label">Comments notes</label>
            {{ResidentMaster.commentnotes}}
        </div>        
        <h5>Funeral preferences</h5> 
    </div>
    <div class="row">
        <div class="col-md-3 mt-2">
            <label class="form-label">Funeral arrangement</label>
            {{ResidentMaster.funeralarrangement}}
        </div>
        <div class="col-md-3">
            <label class="form-label">Funeral director</label>
            {{ResidentMaster.funeraldirector}}
        </div>
    </div> 
</div>
<div *ngIf="mode=='edit'">
    <div class="row">   
        <div class="field-checkbox col-md-3">
            <p-checkbox [(ngModel)]="ResidentMaster.isdnar" [binary]="true" name="DNAR" inputId="binary"></p-checkbox>
            <label for="binary"><b>DNAR/DNACPR is in place?</b></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label class="form-label">Comments notes</label>
            <input pInputText type="text" class="form-control" name="txtNationalInsuranceNumber"
                [(ngModel)]="ResidentMaster.commentnotes"
                placeholder="" />
        </div>
    </div>
    <h5>Funeral preferences</h5> 
    <div class="row">
        <div class="col-md-6 mt-2">
            <label class="form-label">Funeral Arrangement</label>
            <p-selectButton [options]="stlstfuneralarrangement" [(ngModel)]="ResidentMaster.funeralarrangement" optionLabel="name"
                optionValue="code" name="FuneralArrangement"></p-selectButton> 
            
        </div>
    </div>
    <div class="row">
         <div class="col-md-3 mt-2">
            <label class="form-label">Funeral Director</label>
            <input pInputText type="text" class="form-control" name="FuneralDirector" [(ngModel)]="ResidentMaster.funeraldirector" placeholder="" />
        </div>
    </div>  
</div>
</p-accordionTab>
 