<p-accordionTab>
    <p-header class="w-100">
        <div class="acc-tab">
            <span>Baseline health information</span>
            <div>
            <button *ngIf="mode=='view'" pButton type="button" label="Edit" class="btn btn-primary"
                (click)="$event.stopPropagation();edit()" [disabled]="isEditable"></button>
            <button *ngIf="mode=='edit'" pButton type="button" label="Save" class="btn btn-primary"
                (click)="$event.stopPropagation();save()"></button>
            <button *ngIf="mode=='edit'" pButton type="button" label="Cancel" class="btn btn-secondary ml-2"
                (click)="$event.stopPropagation();close()"></button>
            </div>
        </div>
</p-header>
<div *ngIf="mode=='view'">
        <div class="row">
            <span><b>Usual Bowel Pattern</b></span>
            <div class="col-md-12">
                {{Clinical.BowelPattern}}
            </div>
            <span class="mt-2"><b>Height</b></span>
            <div class="col-md-12">
                <span style="color: #808080;">Resident Height in cm</span><br>
                {{Clinical.Height}}
            </div>
            <span class="mt-2"><b>Weight Upon Admission</b></span>
            <div class="col-md-12">                
                <span style="color: #808080;">Resident Weight Upon Admission (Kg)</span><br>
                {{Clinical.WeightAtAdmission}}
            </div>
            <span class="mt-2"><b>Weight Range</b></span>
            <div class="col-md-6">
                <span style="color: #808080;">Minimum (Kg)</span><br>
                {{Clinical.MinWeight}}
            </div>
            <div class="col-md-6">
                <span style="color: #808080;">Maximum (Kg)</span><br>
                {{Clinical.MaxWeight}}
            </div>
            <span class="mt-2"><b>Pulse range</b></span>
            <div class="col-md-6">
                <span style="color: #808080;">Minimum (beat per minute)</span><br>
                {{Clinical.MinPulse}}
            </div>
            <div class="col-md-6">
                <span style="color: #808080;">Maximum (beat per minute)</span><br>
                {{Clinical.MaxPulse}}
            </div>
            <span class="mt-2"><b>Blood glucose level range</b></span>
            <div class="col-md-6">
                <span style="color: #808080;">Minimum (mmol/L)</span><br>
                {{Clinical.MinGlucose}}
            </div>
            <div class="col-md-6">
                <span style="color: #808080;">Maximum (mmol/L)</span><br>
                {{Clinical.MaxGlucose}}
            </div>
            <span class="mt-2"><b>Systolic blood pressure range</b></span>
            <div class="col-md-6">
                <span style="color: #808080;">Minimum (mmHg)</span><br>
                {{Clinical.MinSBP}}
            </div>
            <div class="col-md-6">
                <span style="color: #808080;">Maximum (mmHg)</span><br>
                {{Clinical.MaxSBP}}
            </div>
            <span class="mt-2"><b>Diastolic blood pressure range</b></span>
            <div class="col-md-6">
                <span style="color: #808080;">Minimum (mmHg)</span><br>
                {{Clinical.MinDBP}}
            </div>
            <div class="col-md-6">
                <span style="color: #808080;">Maximum (mmHg)</span><br>
                {{Clinical.MaxDBP}}
            </div>
            <span class="mt-2"><b>Fluid recommended level range</b></span>
            <div class="col-md-6">
                <span style="color: #808080;">Minimum (mls)</span><br>
                {{Clinical.MinFluid}}
            </div>
            <div class="col-md-6">
                <span style="color: #808080;">Maximum (mls)</span><br>
                {{Clinical.MaxFluid}}
            </div>
            <span class="mt-2"><b>Oxygen Saturation range</b></span>
            <div class="col-md-6">
                <span style="color: #808080;">Minimum (%)</span><br>
                {{Clinical.MinOxygen}}
            </div>
            <div class="col-md-6">
                <span style="color: #808080;">Maximum (%)</span><br>
                {{Clinical.MaxOxygen}}
            </div>
        </div>
</div>
<div *ngIf="mode=='edit'">
    <div class="row">
        <span><b>Usual Bowel Pattern</b></span>
        <div class="col-md-12">
            <input type="text" name="bowelpattern" pInputText
            [(ngModel)]="Clinical.BowelPattern" [style]="{width: '100%'}" />
        </div>
        <span class="mt-2"><b>Height</b></span>
        <div class="col-md-12">
            <span style="color: #808080;">Resident Height in cm</span><br>
            <p-inputNumber name="height"
            [(ngModel)]="Clinical.Height" [useGrouping]="false" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="2"  [maxlength]="5"
                            [style]="{width: '100%'}">
            </p-inputNumber>
        </div>
        <span class=""><b>Weight Upon Admission</b></span>
        <div class="col-md-12">                
            <span style="color: #808080;">Resident Weight Upon Admission (Kg)</span><br>
            <p-inputNumber name="weightatadmission"
            [(ngModel)]="Clinical.WeightAtAdmission" [useGrouping]="false" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="2"  [maxlength]="5"
                            [style]="{width: '100%'}">
            </p-inputNumber>
        </div>
        <span class=""><b>Weight Range</b></span>
        <div class="col-md-6">
            <span style="color: #808080;">Minimum (Kg)</span><br>
            <p-inputNumber name="minweight"
            [(ngModel)]="Clinical.MinWeight" [useGrouping]="false" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="2"  [maxlength]="5"
                            [style]="{width: '100%'}">
            </p-inputNumber>
        </div>
        <div class="col-md-6">
            <span style="color: #808080;">Maximum (Kg)</span><br>
            <p-inputNumber name="maxweight"
            [(ngModel)]="Clinical.MaxWeight" [useGrouping]="false" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="2"  [maxlength]="5"
                            [style]="{width: '100%'}">
            </p-inputNumber>
        </div>
        <span class=""><b>Pulse range</b></span>
        <div class="col-md-6">
            <span style="color: #808080;">Minimum (beat per minute)</span><br>
            <p-inputNumber name="minpulse"
            [(ngModel)]="Clinical.MinPulse" [useGrouping]="false" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="2"  [maxlength]="5"
                            [style]="{width: '100%'}">
            </p-inputNumber>
        </div>
        <div class="col-md-6">
            <span style="color: #808080;">Maximum (beat per minute)</span><br>
            <p-inputNumber name="maxpulse"
            [(ngModel)]="Clinical.MaxPulse" [useGrouping]="false" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="2"  [maxlength]="5"
                            [style]="{width: '100%'}">
            </p-inputNumber>
        </div>
        <span class=""><b>Blood glucose level range</b></span>
        <div class="col-md-6">
            <span style="color: #808080;">Minimum (mmol/L)</span><br>
            <p-inputNumber name="minglucose"
            [(ngModel)]="Clinical.MinGlucose" [useGrouping]="false" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="2"  [maxlength]="5"
                            [style]="{width: '100%'}">
            </p-inputNumber>
        </div>
        <div class="col-md-6">
            <span style="color: #808080;">Maximum (mmol/L)</span><br>
            <p-inputNumber name="maxglucose"
            [(ngModel)]="Clinical.MaxGlucose" [useGrouping]="false" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="2"  [maxlength]="5"
                            [style]="{width: '100%'}">
            </p-inputNumber>        
        </div>
        <span class=""><b>Systolic blood pressure range</b></span>
        <div class="col-md-6">
            <span style="color: #808080;">Minimum (mmHg)</span><br>
            <p-inputNumber name="minsbp"
            [(ngModel)]="Clinical.MinSBP" [useGrouping]="false" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="2"  [maxlength]="5"
                            [style]="{width: '100%'}">
            </p-inputNumber> 
        </div>
        <div class="col-md-6">
            <span style="color: #808080;">Maximum (mmHg)</span><br>
            <p-inputNumber name="maxsbp"
            [(ngModel)]="Clinical.MaxSBP" [useGrouping]="false" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="2"  [maxlength]="5"
                            [style]="{width: '100%'}">
            </p-inputNumber>
        </div>
        <span class=""><b>Diastolic blood pressure range</b></span>
        <div class="col-md-6">
            <span style="color: #808080;">Minimum (mmHg)</span><br>
            <p-inputNumber name="mindbp"
            [(ngModel)]="Clinical.MinDBP" [useGrouping]="false" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="2"  [maxlength]="5"
                            [style]="{width: '100%'}">
            </p-inputNumber> 
        </div>
        <div class="col-md-6">
            <span style="color: #808080;">Maximum (mmHg)</span><br>
            <p-inputNumber name="maxdbp"
            [(ngModel)]="Clinical.MaxDBP" [useGrouping]="false" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="2"  [maxlength]="5"
                            [style]="{width: '100%'}">
            </p-inputNumber>
        </div>
        <span class=""><b>Fluid recommended level range</b></span>
        <div class="col-md-6">
            <span style="color: #808080;">Minimum (mls)</span><br>
            <p-inputNumber name="minfluid"
            [(ngModel)]="Clinical.MinFluid" [useGrouping]="false" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="2"  [maxlength]="5"
                            [style]="{width: '100%'}">
            </p-inputNumber> 
        </div>
        <div class="col-md-6">
            <span style="color: #808080;">Maximum (mls)</span><br>
            <p-inputNumber name="maxfluid"
            [(ngModel)]="Clinical.MaxFluid" [useGrouping]="false" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="2"  [maxlength]="5"
                            [style]="{width: '100%'}">
            </p-inputNumber>  
        </div>
        <span class=""><b>Oxygen Saturation range</b></span>
        <div class="col-md-6">
            <span style="color: #808080;">Minimum (%)</span><br>
            <p-inputNumber name="minoxygen"
            [(ngModel)]="Clinical.MinOxygen" [useGrouping]="false" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="2"  [maxlength]="5"
                            [style]="{width: '100%'}">
            </p-inputNumber> 
        </div>
        <div class="col-md-6">
            <span style="color: #808080;">Maximum (%)</span><br>
            <p-inputNumber name="maxoxygen"
            [(ngModel)]="Clinical.MaxOxygen" [useGrouping]="false" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="2"  [maxlength]="5"
                            [style]="{width: '100%'}">
            </p-inputNumber>  
        </div>
    </div>
</div>
</p-accordionTab>