<div class="p-fluid">
    <div class="field grid">
        <label htmlFor="name2" class="col-12 mb-2 md:col-8 md:mb-0">I have fallen in the last Year.</label>
        <div class="col-12 md:col-4">
            <div class="grid formgrid">
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton name="rdNo" value="Yes" [(ngModel)]="valRadio1" id="rd1"></p-radioButton>
                        <label for="rd1">Yes (2)</label>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton name="rdNo" value="No" [(ngModel)]="valRadio1" id="rd2"></p-radioButton>
                        <label for="rd2">No</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field grid">
        <label htmlFor="name2" class="col-12 mb-2 md:col-8 md:mb-0">I use or have been advised to use a cane or walker.</label>
        <div class="col-12 md:col-4">
            <div class="grid formgrid">
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton name="rdNo2" value="Yes" [(ngModel)]="valRadio2" id="rd3"></p-radioButton>
                        <label for="rd3">Yes (2)</label>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton name="rdNo2" value="No" [(ngModel)]="valRadio2" id="rd4"></p-radioButton>
                        <label for="rd4">No</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field grid">
        <label htmlFor="name2" class="col-12 mb-2 md:col-8 md:mb-0">I sometimes lose my balance when walking.</label>
        <div class="col-12 md:col-4">
            <div class="grid formgrid">
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton name="rdNo3" value="Yes" [(ngModel)]="valRadio3" id="rd5"></p-radioButton>
                        <label for="rd5">Yes (1)</label>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton name="rdNo3" value="No" [(ngModel)]="valRadio3" id="rd6"></p-radioButton>
                        <label for="rd6">No</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field grid">
        <label htmlFor="name2" class="col-12 mb-2 md:col-8 md:mb-0">I worry about falling.</label>
        <div class="col-12 md:col-4">
            <div class="grid formgrid">
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton name="rdNo4" value="Yes" [(ngModel)]="valRadio4" id="rd7"></p-radioButton>
                        <label for="rd7">Yes (1)</label>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton name="rdNo4" value="No" [(ngModel)]="valRadio4" id="rd8"></p-radioButton>
                        <label for="rd8">No</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field grid">
        <label htmlFor="name2" class="col-12 mb-2 md:col-8 md:mb-0">I use my arms to push myself up from a chair.</label>
        <div class="col-12 md:col-4">
            <div class="grid formgrid">
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton name="rdNo5" value="Yes" [(ngModel)]="valRadio5" id="rd9"></p-radioButton>
                        <label for="rd9">Yes (1)</label>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton name="rdNo5" value="No" [(ngModel)]="valRadio5" id="rd10"></p-radioButton>
                        <label for="rd10">No</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field grid">
        <label htmlFor="name2" class="col-12 mb-2 md:col-8 md:mb-0">I sometimes have trouble stepping up onto a curb.</label>
        <div class="col-12 md:col-4">
            <div class="grid formgrid">
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton name="rdNo6" value="Yes" [(ngModel)]="valRadio6" id="rd11"></p-radioButton>
                        <label for="rd11">Yes (1)</label>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton name="rdNo6" value="No" [(ngModel)]="valRadio6" id="rd12"></p-radioButton>
                        <label for="rd12">No</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field grid">
        <label htmlFor="name2" class="col-12 mb-2 md:col-8 md:mb-0">My body sways when standing stationary.</label>
        <div class="col-12 md:col-4">
            <div class="grid formgrid">
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton name="rdNo7" value="Yes" [(ngModel)]="valRadio7" id="rd13"></p-radioButton>
                        <label for="rd13">Yes (1)</label>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton name="rdNo7" value="No" [(ngModel)]="valRadio7" id="rd14"></p-radioButton>
                        <label for="rd14">No</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field grid">
        <label htmlFor="name2" class="col-12 mb-2 md:col-8 md:mb-0">I take short narrow steps.</label>
        <div class="col-12 md:col-4">
            <div class="grid formgrid">
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton name="rdNo8" value="Yes" [(ngModel)]="valRadio8" id="rd15"></p-radioButton>
                        <label for="rd15">Yes (1)</label>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton name="rdNo8" value="No" [(ngModel)]="valRadio8" id="rd16"></p-radioButton>
                        <label for="rd16">No</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field grid">
        <label htmlFor="name2" class="col-12 mb-2 md:col-8 md:mb-0">I stumble often or look at the ground when I walk.</label>
        <div class="col-12 md:col-4">
            <div class="grid formgrid">
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton name="rdNo9" value="Yes" [(ngModel)]="valRadio9" id="rd17"></p-radioButton>
                        <label for="rd17">Yes (1)</label>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton name="rdNo9" value="No" [(ngModel)]="valRadio9" id="rd18"></p-radioButton>
                        <label for="rd18">No</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field grid">
        <label htmlFor="name2" class="col-12 mb-2 md:col-8 md:mb-0">I frequently have to rush to the toilet.</label>
        <div class="col-12 md:col-4">
            <div class="grid formgrid">
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton name="rdNo10" value="Yes" [(ngModel)]="valRadio10" id="rd19"></p-radioButton>
                        <label for="rd19">Yes (1)</label>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton name="rdNo10" value="No" [(ngModel)]="valRadio10" id="rd20"></p-radioButton>
                        <label for="rd20">No</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field grid">
        <label htmlFor="name2" class="col-12 mb-2 md:col-8 md:mb-0">I have lost some feeling in one or both of my feet.
            (1)</label>
        <div class="col-12 md:col-4">
            <div class="grid formgrid">
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton name="rdNo11" value="Yes" [(ngModel)]="valRadio11" id="rd21"></p-radioButton>
                        <label for="rd21">Yes (1)</label>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton name="rdNo11" value="No" [(ngModel)]="valRadio11" id="rd22"></p-radioButton>
                        <label for="rd22">No</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field grid">
        <label htmlFor="name2" class="col-12 mb-2 md:col-8 md:mb-0">My medication makes me feel light-headed or sleepy.
            (1)</label>
        <div class="col-12 md:col-4">
            <div class="grid formgrid">
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton name="rdNo12" value="Yes" [(ngModel)]="valRadio9" id="rd23"></p-radioButton>
                        <label for="rd23">Yes (1)</label>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton name="rdNo12" value="No" [(ngModel)]="valRadio9" id="rd24"></p-radioButton>
                        <label for="rd24">No</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>