.field{margin-bottom: -1rem !important;}
.backbutton-cvr{
    display: inline-block;
    width: 100%;
}
.backbutton-cvr button.btn {
    background: #5658e1;
    border: none;
    padding: 12px 18px;
    color: #fff;
    border-radius: 22px;
    cursor: pointer;
}
span.backbutton {
    float: right;
 }