<div *ngIf="mode==null">   
    <div class="card">
            <p-table #dt [value]="lstResidentMaster" responsiveLayout="scroll" styleClass="p-datatable-striped"
                [rowHover]="true" [globalFilterFields]="['MenuItemName','MenuItemURL','ParentMenuName','ModuleName']"
                [scrollable]="true" scrollHeight="calc(100vh - 215px)">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <span class="p-ml-left">
                            <button pButton title="New" label="Add New" class="p-button-outlined mr-2" icon="pi pi-plus"
                            (click)="AddResident()"></button>
                            <span class="total-txt">
                            {{lstResidentMaster?.length>0?'Total Records:
                            '+filteredValuesLength:''}} </span> 
                        </span>    
                        <span class="p-ml-auto">
                            <button pButton title="Export Data" label=" " class="p-button-outlined mr-2"
                                icon="pi pi-download" (click)="exportToItemExcel();"></button>
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input #filtr pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                            placeholder="Search..." /></span>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="columns?.length">
                            No records found
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Resident Id</th>
                        <th>Name</th>
                        <!-- <th>Profile Image</th> -->
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-dt let-i="rowIndex">
                    <tr>
                        <td>{{dt.ResidentNo}}</td>
                        <td>{{dt.FullName}}</td>
                        <!-- <td><img [src]="'assets/ui/images/avatar/' + dt.image" class="table-image"></td> -->
                        <td>{{dt.Status==1?'Active':'Inactive'}}</td>
                         <td>
                            <a matTooltip="View/Edit" (click)="LoadResidentDetails(dt.MenuItemId)">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </td> 
                    </tr>
                </ng-template>
            </p-table>
        </div>   
</div>
<div class="card" *ngIf="mode!=null">
    <form #myForm="ngForm">
        <p-accordion [multiple]="true" activeIndex="0,1">
            <p-accordionTab header="Resident name">
                <div class="row">
                    <div class="col-md-3" *ngIf="UserTypeCurre===UserTypes.SuperAdmin">
                        <label class="form-label">Home<span class="danger">*</span></label>
                        <p-dropdown [required]="true" name="ddlHome" [options]="lstHomeMaster"
                            [(ngModel)]="ResidentMaster.HomeId" optionLabel="HomeName"
                            optionValue="HomeId" [filter]="true" placeholder="--select--"
                            [style]="{width: '100%'}" #homeref="ngModel">
                        </p-dropdown>                        
                    </div>
                    
                    <div class="col-md-3">
                        <label class="form-label">Title</label>
                        <p-dropdown name="ddlTitle" [options]="stlsttitle"
                            [(ngModel)]="ResidentMaster.Title" optionLabel="name" optionValue="code"
                            [filter]="true" placeholder="Choose title" [style]="{width: '100%'}"
                           >
                        </p-dropdown>                        
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">First Name <span class="danger">*</span></label>
                        <input pInputText type="text" required class="form-control" name="txtFName"
                        [(ngModel)]="ResidentMaster.FirstName" placeholder=""
                        (keypress)="keyPress1($event)">                                
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Middle Name</label>
                        <input type="text" pInputText class="form-control" name="txtMiddleName"
                            [(ngModel)]="ResidentMaster.MiddleName" placeholder=""
                            (keypress)="keyPress1($event)">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Last Name <span class="danger">*</span></label>
                        <input type="text" pInputText class="form-control" name="txtLname"
                            [(ngModel)]="ResidentMaster.LastName" placeholder=""
                            (keypress)="keyPress1($event)">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Preferred Name</label>
                        <input pInputText type="text" class="form-control" name="txtFHName"
                            [(ngModel)]="ResidentMaster.PreferredName"
                            placeholder="">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Resident Photo</label>
                        <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*" [maxFileSize]="1000000" chooseLabel="Browse"></p-fileUpload>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Status <span class="danger">*</span></label>
                        <p-dropdown [required]="true" name="ddlStatus" [options]="stlststatus"
                            [(ngModel)]="ResidentMaster.Status" optionLabel="name" optionValue="code"
                            [filter]="true" placeholder="Please Select Status" [style]="{width: '100%'}">
                        </p-dropdown>
                    </div>
                </div>
            </p-accordionTab>
           
           
            <p-accordionTab header="Resident demographics">
                <div class="row">                    
                    <div class="col-md-3">
                        <label class="form-label">Date Of Birth <span class="danger">*</span></label>
                        <p-calendar [required]="true" [maxDate]="todayDate"
                            [(ngModel)]="ResidentMaster.DateOfBirth"
                            [ngModelOptions]="{standalone: true}" [showIcon]="true" inputId="icon"
                            [dateFormat]="customDateFormat.CalendarFormat" #dobref="ngModel" class="iconcal"></p-calendar> 
                    </div>    
                    <div class="col-md-3">
                        <label class="form-label">Gender <span class="danger">*</span></label>
                        <p-dropdown [required]="true" name="ddlGender" [options]="stlstgender"
                            [(ngModel)]="ResidentMaster.Gender" optionLabel="name" optionValue="code"
                            [filter]="true" placeholder="Choose gender" [style]="{width: '100%'}"
                            #genderref="ngModel">
                        </p-dropdown>                        
                    </div>  
                    <div class="col-md-3">
                        <label class="form-label">I describe myself as</label>
                        <input pInputText type="text" class="form-control" name="txtMySelfDetails"
                            [(ngModel)]="ResidentMaster.MySelfDetails"
                            placeholder="">
                    </div>
                    <div class="col-md-3">                        
                          <label>Country of birth</label>
                          <p-dropdown name="ddlCountry" [options]="lstCountryMaster"
                            [(ngModel)]="ResidentMaster.CountryId" optionLabel="name"
                            optionValue="CountryId" [filter]="true" placeholder="Choose country"
                            [style]="{width: '100%'}">
                          </p-dropdown>
                                          
                      </div>
                    <div class="col-md-3">
                        <label class="form-label">Primary language spoken</label>
                        <input pInputText type="text" class="form-control" name="txtPrimaryLanguage"
                            [(ngModel)]="ResidentMaster.PrimaryLanguage"
                            placeholder="">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Secondary language spoken</label>
                        <input pInputText type="text" class="form-control" name="txtSecondaryLanguage"
                            [(ngModel)]="ResidentMaster.SecondaryLanguage"
                            placeholder="">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Religion</label>
                        <input pInputText type="text" class="form-control" name="txtReligion"
                            [(ngModel)]="ResidentMaster.Religion"
                            placeholder="">
                    </div>
                    <div class="col-md-3">                      
                          <label for="">Marital status</label>
                          <p-dropdown name="ddlMaritalStatus" [options]="stlstmaritalstatus"
                            [(ngModel)]="ResidentMaster.MaritalStatus" optionLabel="name" optionValue="code"
                             [filter]="true" placeholder="Choose status"
                            [style]="{width: '100%'}">
                          </p-dropdown>                        
                      </div>
                </div>                
            </p-accordionTab>            
            
                 
        </p-accordion>                
            <div class="flex flex-wrap gap-2">
                <button pButton type="button" label="Submit" (click)="Submit()"
                    [disabled]="!myForm.form.valid"></button>
                <button pButton type="button" label="Close" class="p-button-secondary"
                    (click)="CloseModal()"></button>
            </div>                
    </form>
</div>  
<p-toast position="left-bottom"></p-toast>