.ngx-slider .ngx-slider-tick-legend {
    position: relative;
}

.ngx-slider .ngx-slider-pointer {
    background-color: #2DB163 !important;
}

.unOrderList ul {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    padding-left: 0;
}

.unOrderList ul li {
    list-style: none !important;
    max-width: calc(20% - 26px);
    min-width: calc(20% - 26px);
}

.unOrderList ul li:nth-child(1n) {
    margin-right: 110px;
}

.unOrderList ul li:nth-child(2n) {
    margin-right: 8px;
}

// .unOrderList ul li:nth-child(3n) {
//     margin-right: 16px;
// }

.unOrderList ul li:last-child {
    margin-right: 0;
}

.unOrderList ul li img {
    width: 40px;
}