<p-accordionTab>
    <p-header class="w-100">
        <div class="acc-tab">
            <span>Pain Assessment</span>
            <div>
                <button *ngIf="mode=='view'" pButton type="button" label="Edit" class="btn btn-primary"
                    (click)="$event.stopPropagation();edit()" [disabled]="isEditable"></button>
                <button *ngIf="mode=='edit'" pButton type="button" label="Save" class="btn btn-primary"
                    (click)="$event.stopPropagation();save()"></button>
                <button *ngIf="mode=='edit'" pButton type="button" label="Cancel" class="btn btn-secondary ml-2"
                    (click)="$event.stopPropagation();close()"></button>
            </div>
        </div>
    </p-header>
    <div class="row mb-4" *ngIf="mode=='edit'">
        <div class="col-md-12 p-slider-outer card">
            <ngx-slider [(value)]="value" [(ngModel)]="Clinical.rating" [options]="options"
                (click)="AddPainData()"></ngx-slider>
            <div class="unOrderList">
                <ul>
                    <li>
                        <img class="img-fluid" src="assets/Images/smile.png" alt="" />
                    </li>
                    <li>
                        <img class="img-fluid" src="assets/Images/mild-pain.png" alt="" />
                    </li>
                    <li>
                        <img class="img-fluid" src="assets/Images/sad.png" alt="" />
                    </li>
                    <li>
                        <img class="img-fluid" src="assets/Images/sever-pain.png" alt="" />
                    </li>
                    <li>
                        <img class="img-fluid" src="assets/Images/crying.png" alt="" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-auto pr-1">
            <p-calendar (onSelect)="dateRangeChange()" [maxDate]="currentDate" [(ngModel)]="selecteddate"
                [ngModelOptions]="{standalone: true}" [showIcon]="true" inputId="icon"
                [dateFormat]="customDateFormat.CalendarFormat" class="iconcal"></p-calendar>
        </div>
        <div class="col-md-auto pl-0" *ngIf="selecteddate!=null && selecteddate!=undefined">
            <button pButton type="button" title="Clear" label=" " class="btn btn-secondary"
                (click)="resetDate()">
                <i  class="fa fa-close"></i>
            </button>
        </div>
        <div class="col-md-12" *ngIf="lstClinicalPainAssesment?.length>0">
            <p-table #dt4 [value]="lstClinicalPainAssesment" styleClass="p-datatable-striped" [rowHover]="true"
                [globalFilterFields]="['rating']" [scrollable]="true" scrollHeight="250px" responsiveLayout="scroll">                
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="4">
                            No records found
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr style="border-top: 1px solid #e3e3e3;">
                        <th>Date</th>
                        <th>Rating</th>
                        <th></th>
                        <th *ngIf="mode=='edit'">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-dt let-i="rowIndex">
                    <tr>
                        <td>{{dt.createdon|date: customDateFormat.DEF_DATE_TIME}}</td>
                        <td>{{dt.rating}}</td>
                        <!-- <td>
                            <span>
                                <p-dropdown [options]="options.stepsArray" [(ngModel)]="dt.rating" appendTo="body"
                                    optionLabel="legend" optionValue="value" [style]="{width: '100%'}">
                                    <ng-template let-item pTemplate="item">
                                        {{item.value}}- {{item.legend}}
                                    </ng-template>
                                    <ng-template let-item pTemplate="selectedItem">
                                        {{item.value}}- {{item.legend}}
                                    </ng-template>
                                </p-dropdown>
                            </span>
                        </td> -->
                        <td *ngIf="dt.rating==0 || dt.rating==1 ">
                            <img src="assets/Images/smile.png" alt="" style="width:40px;" />
                        </td>
                        <td *ngIf="dt.rating==2 ||dt.rating==3">
                            <img src="assets/Images/mild-pain.png" alt="" style="width:40px;" />
                        </td>
                        <td *ngIf="dt.rating==4 ||dt.rating==5 ">
                            <img src="assets/Images/sad.png" alt="" style="width:40px;" />
                        </td>
                        <td *ngIf="dt.rating==6 ||dt.rating==7 || dt.rating==8">
                            <img src="assets/Images/sever-pain.png" alt="" style="width:40px;" />
                        </td>
                        <td *ngIf="dt.rating==9 ||dt.rating==10">
                            <img src="assets/Images/crying.png" alt="" style="width:40px;" />
                        </td>
                        <td *ngIf="mode=='edit'">
                            <i (click)="deletePainData(dt.clinicalpainassesmentid)" title="Delete"
                                class="fa fa-trash-alt" *ngIf="((currentDate | date:'yyyy-MM-dd') == (dt.createdon| date:'yyyy-MM-dd'))"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-accordionTab>