<p-accordionTab>
    <p-header class="w-100">
        <div class="acc-tab">
            <span>Clinical information</span>
            <div>
            <button *ngIf="mode=='view'" pButton type="button" label="Edit" class="btn btn-primary"
                (click)="edit()"></button>
            <button *ngIf="mode=='edit'" pButton type="button" label="Save" class="btn btn-primary"
                (click)="$event.stopPropagation();save()"></button>
            <button *ngIf="mode=='edit'" pButton type="button" label="Cancel" class="btn btn-secondary ml-2"
                (click)="close()"></button>
            </div>
        </div>
</p-header>
<div *ngIf="mode=='view'">
    <span style="color: #808080;">Coronavirus:</span><br>
    <h5>{{Clinical.iscovid?'Is suspected of having or has been diagnosed with COVID-19. Please keep isolated.':''}}</h5><br>
    <span style="color: #808080;">Diet:</span><br>
    <h5>{{Clinical.diet}}</h5><br>
    <span style="color: #808080;">Special Needs / Diagnosis:</span><br>
    <h5>{{Clinical.diagnosis}}</h5><br>
    <span style="color: #808080;">Other information</span><br>
    <h5>{{Clinical.otherinfo}}</h5>
</div>
<div *ngIf="mode=='edit'">
    <div class="row">
        <div class="col-md-6">
            <label>CoronaVirus:</label>
            <div class="field-checkbox">
                <p-checkbox [(ngModel)]="Clinical.iscovid" [binary]="true" name="DNAR" inputId="binary"></p-checkbox>
                <label for="binary"><b>Has Coronavirus (COVID-19).</b></label>
            </div>
        </div>
    </div>
        <div class="row">
        <div class="col-md-9">
            <label>Diet:</label>
            <textarea class="form-control" rows="4" name="diet" [(ngModel)]="Clinical.diet"
                style="width: 100%;"></textarea>
        </div></div>
        <div class="row">
        <div class="col-md-9">
            <label>Special needs / diagnosis:</label>
            <textarea class="form-control" rows="4" name="diet" [(ngModel)]="Clinical.diagnosis"
                style="width: 100%;"></textarea>
        </div></div>
        <div class="row">
        <div class="col-md-9">
            <label>Other information:</label>
            <textarea class="form-control" rows="4" name="diet" [(ngModel)]="Clinical.otherinfo"
                style="width: 100%;"></textarea>
        </div>
    </div>
</div>
</p-accordionTab>
