<form #myForm="ngForm">
    <p-accordionTab [selected]="true">
        <p-header class="w-100">
            <div class="acc-tab">
                <span>Responsible person contact</span>
                <div>
                    <button *ngIf="mode=='view'" pButton type="button" label="Edit" class="btn btn-primary"
                        (click)="edit()" [disabled]="isEditable"></button>
                    <button *ngIf="mode=='edit'" pButton type="button" label="Save" class="btn btn-primary"
                        (click)="save();$event.stopPropagation();" [disabled]="!myForm.form.valid"></button>
                    <button *ngIf="mode=='edit'" pButton type="button" label="Cancel" class="btn btn-secondary ml-2"
                        (click)="close()"></button>
                </div>
            </div>
        </p-header>
        <div class="row mt25">
            <div class="row">
                <div class="col-md-12 text-right mb-5"><span class="required">*</span> Mandatory (if this section is
                    being completed)</div>
                <div class="col-md-12" *ngIf="mode=='edit'">
                    <div class="field-checkbox">
                        <p-checkbox [(ngModel)]="Contact.isprimarycontact" [binary]="true" name="isprimarycontact"
                            inputId="binary" (onChange)="onChangeIsPrimary($event)"></p-checkbox>
                        <label for="binary"><b>Use the primary contact's details</b></label>
                    </div>
                </div>
                <h5>Contact note</h5>
                <div class="col-md-12">
                    <div *ngIf="mode=='edit'">
                        <input type="text" name="contactnote" pInputText [(ngModel)]="Contact.contactnote"
                            [style]="{width: '100%'}" [disabled]="Contact.isprimarycontact" />
                    </div>
                    <div class="my-2" *ngIf="mode=='view'">{{Contact.contactnote}}</div>
                </div>
                <h5 class="mt-5">Contact name</h5>
                <div class="col-md-6">
                    <label class="form-label"><span class="required">*</span> First name</label>
                    <div *ngIf="mode=='edit'">
                        <input required type="text" name="firstname" pInputText [(ngModel)]="Contact.firstname"
                            [style]="{width: '100%'}" [disabled]="Contact.isprimarycontact" #fNameref="ngModel" />
                        <div class="errorMessage pt-2" *ngIf="fNameref.errors &&(fNameref.touched || fNameref.dirty)">
                            <div>First name is required.</div>
                        </div>
                    </div>
                    <div class="my-2" *ngIf="mode=='view'">{{Contact.firstname}}</div>
                </div>

                <div class="col-md-6">
                    <label class="form-label"><span class="required">*</span> Last name</label>
                    <div *ngIf="mode=='edit'">
                        <input required type="text" name="lastname" pInputText [(ngModel)]="Contact.lastname"
                            [style]="{width: '100%'}" [disabled]="Contact.isprimarycontact" #lNameref="ngModel" />
                        <div class="errorMessage pt-2" *ngIf="lNameref.errors &&(lNameref.touched || lNameref.dirty)">
                            <div>Last name is required.</div>
                        </div>
                    </div>
                    <div class="my-2" *ngIf="mode=='view'">{{Contact.lastname}}</div>
                </div>
                <h5 class="mt-5">Contact Type</h5>
                <div class="col-md-12">
                    <label class="form-label">Relationship to Resident</label>
                    <div *ngIf="mode=='edit'">
                        <input type="text" name="relationship" pInputText [(ngModel)]="Contact.relationship"
                            [style]="{width: '100%'}" [disabled]="Contact.isprimarycontact" />
                    </div>
                    <div class="my-2" *ngIf="mode=='view'">{{Contact.relationship}}</div>
                </div>
                <h5 class="mt-5">Contact Details</h5>
                <div class="col-md-4">
                    <label class="form-label">Mobile</label>
                    <div *ngIf="mode=='edit'">
                        <p-inputNumber name="mobile" [(ngModel)]="Contact.mobile"
                        mode="decimal" [useGrouping]="false" [maxlength]="20" [disabled]="Contact.isprimarycontact"></p-inputNumber>
                    </div>
                    <div class="my-2" *ngIf="mode=='view'">{{Contact.mobile}}</div>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Home Telephone</label>
                    <div *ngIf="mode=='edit'">
                        <p-inputNumber name="hometelephone" [(ngModel)]="Contact.hometelephone"
                        mode="decimal" [useGrouping]="false" [maxlength]="20" [disabled]="Contact.isprimarycontact"></p-inputNumber>                        
                    </div>
                    <div class="my-2" *ngIf="mode=='view'">{{Contact.hometelephone}}</div>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Work Telephone</label>
                    <div *ngIf="mode=='edit'">
                        <p-inputNumber name="worktelephone" [(ngModel)]="Contact.worktelephone"
                        mode="decimal" [useGrouping]="false" [maxlength]="20" [disabled]="Contact.isprimarycontact"></p-inputNumber>                        
                    </div>
                    <div class="my-2" *ngIf="mode=='view'">{{Contact.worktelephone}}</div>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Email Address</label>
                    <div *ngIf="mode=='edit'">
                        <input type="text" name="email" pInputText [(ngModel)]="Contact.email" [style]="{width: '100%'}"
                            [disabled]="Contact.isprimarycontact" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$"
                            #emailref="ngModel" />
                           <div class="errorMessage pt-2" *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)">
                               <div>Please enter valid email id.</div>
                           </div>
                    </div>
                    <div class="my-2" *ngIf="mode=='view'">{{Contact.email}}</div>
                </div>
                <h5 class="mt-5">Contact Address</h5>
                <div class="col-md-12">
                    <label class="form-label"><span class="required">*</span> Address 1</label>
                    <div *ngIf="mode=='edit'">
                        <input required type="text" name="address1" pInputText [(ngModel)]="Contact.address1"
                            [style]="{width: '100%'}" [disabled]="Contact.isprimarycontact" #addressref="ngModel" />
                        <div class="errorMessage pt-2"
                            *ngIf="addressref.errors &&(addressref.touched || addressref.dirty)">
                            Address 1 is required.
                        </div>
                    </div>
                    <div class="my-2" *ngIf="mode=='view'">{{Contact.address1}}</div>
                </div>
                <div class="col-md-12 mt-2">
                    <label class="form-label">Address 2</label>
                    <div *ngIf="mode=='edit'">
                        <input type="text" name="address2" pInputText [(ngModel)]="Contact.address2"
                            [style]="{width: '100%'}" [disabled]="Contact.isprimarycontact" />
                    </div>
                    <div class="my-2" *ngIf="mode=='view'">{{Contact.address2}}</div>
                </div>
                <div class="col-md-12 mt-2">
                    <label class="form-label">Address 3</label>
                    <div *ngIf="mode=='edit'">
                        <input type="text" name="address3" pInputText [(ngModel)]="Contact.address3"
                            [style]="{width: '100%'}" [disabled]="Contact.isprimarycontact" />
                    </div>
                    <div class="my-2" *ngIf="mode=='view'">{{Contact.address3}}</div>
                </div>
                <div class="col-md-6 mt-2">
                    <label class="form-label">Town</label>
                    <div *ngIf="mode=='edit'">
                        <input type="text" name="town" pInputText [(ngModel)]="Contact.town" [style]="{width: '100%'}"
                            [disabled]="Contact.isprimarycontact" />
                    </div>
                    <div class="my-2" *ngIf="mode=='view'">{{Contact.town}}</div>
                </div>
                <div class="col-md-6 mt-2">
                    <label class="form-label">County</label>
                    <div *ngIf="mode=='edit'">
                        <input type="text" name="txtResidentIndicators" pInputText [(ngModel)]="Contact.county"
                            [style]="{width: '100%'}" [disabled]="Contact.isprimarycontact" />
                    </div>
                    <div class="my-2" *ngIf="mode=='view'">{{Contact.county}}</div>
                </div>
                <div class="col-md-6 mt-2">
                    <label class="form-label">Country</label>
                    <div *ngIf="mode=='edit'">
                        <p-dropdown name="ddlCountry" [options]="lstCountryMaster" [(ngModel)]="Contact.countryid"
                            optionLabel="name" optionValue="id" [filter]="true" placeholder="Choose country"
                            [style]="{width: '100%'}" [disabled]="Contact.isprimarycontact">
                        </p-dropdown>
                    </div>
                    <div class="my-2" *ngIf="mode=='view'">{{Contact.countryname}}</div>
                </div>
                <div class="col-md-6 mt-2">
                    <label class="form-label">Postcode</label>
                    <div *ngIf="mode=='edit'">
                        <input type="text" name="postcode" pInputText [(ngModel)]="Contact.postcode"
                            [style]="{width: '100%'}" [disabled]="Contact.isprimarycontact" />
                    </div>
                    <div class="my-2" *ngIf="mode=='view'">{{Contact.postcode}}</div>
                </div>
            </div>
        </div>
    </p-accordionTab>
</form>