<div class="card map-body">
    <p-table #dt2 [value]="[{}]" styleClass="p-datatable-striped" [rowHover]="true" [scrollable]="true"
        scrollHeight="250px" responsiveLayout="scroll">
        <!-- <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col style="width:182px">
                <col style="width:182px">
                <col style="width:182px">
                <col style="width:182px">
                <col style="width:182px">
                <col style="width:182px">
                <col style="width:182px">
                <col style="width:182px">
                <col style="width:182px">
                <col style="width:182px">
                <col style="width:182px">
            </colgroup>
        </ng-template> -->
        <ng-template pTemplate="header">
            <tr>
                <th>Blood Glucose</th>
                <th>Blood Pressure (BP)</th>
                <th>Temperature</th>
                <th>Pulse</th>
                <th>Respiration</th>
                <th>Saturation</th>
                <th>Weight</th>
                <th>Height</th>
                <th>BMI</th>
                <th>Capture By</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <td>
                <input pInputText type="text" name="txt_glucose" autocomplete="off" onpaste="return false" maxlength="7"
                    [(ngModel)]="BodyMapObj.BloodGlucose" placeholder="mg/dL" class="form-control">
            </td>
            <td>
                <input pInputText type="text" name="txt_bp" autocomplete="off" onpaste="return false" maxlength="7"
                    [(ngModel)]="BodyMapObj.BloodPressure" placeholder="--/---" [value]="" class="form-control">
            </td>
            <td>
                <input pInputText type="text" name="txt_temp" autocomplete="off" onpaste="return false" maxlength="6"
                    [(ngModel)]="BodyMapObj.BodyTemprature" placeholder="°F" [value]="" class="form-control">
            </td>
            <td>
                <input pInputText type="text" name="txt_pr" autocomplete="off" onpaste="return false" maxlength="3"
                    [(ngModel)]="BodyMapObj.Pulse" placeholder="Pulse" [value]="" class="form-control">
            </td>
            <td>
                <input pInputText type="text" name="txt_respiration" autocomplete="off" onpaste="return false"
                    [(ngModel)]="BodyMapObj.RespiratoryRate" maxlength="2" placeholder="Respiration (BPM)" [value]="" class="form-control">
            </td>
            <td>
                <input pInputText type="text" name="txt_saturation" autocomplete="off" onpaste="return false"
                    [(ngModel)]="BodyMapObj.Saturation" maxlength="3" placeholder="Saturation" [value]="" class="form-control">
            </td>
            <td>
                <input pInputText type="text" name="txt_weight" autocomplete="off" onpaste="return false" maxlength="6"
                    [(ngModel)]="BodyMapObj.Weight" placeholder="Weight (kg.)" [value]="" class="form-control" (change)="CalculateBMI()">
            </td>
            <td>
                <input pInputText type="text" name="txt_height" autocomplete="off" onpaste="return false" maxlength="6"
                    [(ngModel)]="BodyMapObj.Height" placeholder="Height (cms.)" [value]="" class="form-control" (change)="CalculateBMI()">
            </td>

            <td>
                <input pInputText type="text" name="txt_BMI" autocomplete="off" onpaste="return false" maxlength="6"
                    [(ngModel)]="BodyMapObj.BMI" placeholder="BMI" [value]="" class="form-control" disabled="disabled">
            </td>
            <td>
                <input pInputText type="text" name="txt_captureby" autocomplete="off" onpaste="return false"
                    [(ngModel)]="BodyMapObj.CaptureBy" placeholder="Capture By" [value]="" class="form-control">
            </td>
            <td class="text-center">
                <button pButton pRipple label="Add" icon="pi pi-plus" class="p-button-success mr-2"
                    (click)="saveBodyMapDetails()"></button>
            </td>
        </ng-template>
    </p-table>

    <p-table *ngIf="lstBodyMap?.length>0" #dt1 [value]="lstBodyMap" [paginator]="true" [rows]="9"
        responsiveLayout="scroll" class="ll" [globalFilterFields]="['BloodGlucose','BloodPressure','BodyTemprature','Pulse','RespiratoryRate','Saturation','FBS','PPBS','RBS']">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
                <div class="my-2">
                    <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                        (click)="clear(dt1)"></button>
                </div>

                <span class="p-input-icon-left mb-2">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
                        placeholder="Search Keyword" class="w-full" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Capture Date</th>
                <th>Blood Glucose</th>
                <th>Blood Pressure</th>
                <th>Temprature</th>
                <th>Pulse</th>
                <th>Respiratory Rate</th>
                <th>Saturation</th>
                <th>Weight</th>
                <th>Height</th>
                <th>BMI</th>
                <th>Capture By</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bodymap>
            <tr>
                <td style="width: 35%; min-width: 7rem;">{{bodymap.CaptureDate | date:'dd-MM-yyyy HH:mm'}}</td>
                <td style="width: 35%; min-width: 7rem;">{{bodymap.BloodGlucose}}</td>
                <td style="width: 35%; min-width: 7rem;">{{bodymap.BloodPressure}}</td>
                <td style="width: 35%; min-width: 8rem;">{{bodymap.BodyTemprature}}</td>
                <td style="width: 35%; min-width: 8rem;">{{bodymap.Pulse}}</td>
                <td style="width: 35%; min-width: 8rem;">{{bodymap.RespiratoryRate}}</td>
                <td style="width: 35%; min-width: 8rem;">{{bodymap.Saturation}}</td>
                <td style="width: 35%; min-width: 8rem;">{{bodymap.Weight}}</td>
                <td style="width: 35%; min-width: 8rem;">{{bodymap.Height}}</td>
                <td style="width: 35%; min-width: 8rem;">{{bodymap.BMI}}</td>
                <td style="width: 35%; min-width: 8rem;">{{bodymap.CaptureBy}}</td>
                <td style="width: 35%; min-width: 8rem;">
                    <div class="flex">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                            (click)="editBodyMap('')"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteBodymap('')"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

