<div class="p-fluid">
    <div class="field grid">
        <label class="col-12 mb-2 md:col-2 md:mb-0">Task Name</label>
        <div class="col-12 md:col-3">
            <input pInputText id="name6" type="text" [(ngModel)]="ToDoListObj.TaskName"/>
        </div>
    </div>
    <div class="grid p-fluid">
        <div class="col-12 md:col-6">
            <div class="field">
                <label>Discription</label>
                <textarea [(ngModel)]="ToDoListObj.Description" rows="2" cols="20" placeholder="" pInputTextarea></textarea>
            </div>
            <!-- <div class="field">
                <label>Settling For Bed</label>
                <textarea rows="2" cols="20" placeholder="" pInputTextarea></textarea>
            </div>
            <div class="field">
                <label>Assisstance At Morning</label>
                <textarea rows="2" cols="20" placeholder="" pInputTextarea></textarea>
            </div> -->
        </div>
        <!-- <div class="col-12 md:col-6">
            <div class="field">
                <label>Goal/Outcome(s)</label>
                <textarea rows="2" cols="20" placeholder="" pInputTextarea></textarea>
            </div>
            <div class="field">
                <label>Assisstance At Night</label>
                <textarea rows="2" cols="20" placeholder="" pInputTextarea></textarea>
            </div> <div class="field">
                <label>Other</label>
                <textarea rows="2" cols="20" placeholder="" pInputTextarea></textarea>
            </div>
        </div> -->
    </div>

    <div class="field grid">
        <label class="col-12 mb-2 md:col-2 md:mb-0">Due Date</label>
        <div class="col-12 md:col-3">
            <p-calendar [(ngModel)]="ToDoListObj.DueDate" dateFormat="dd-mm-yy"  [showIcon]="true" inputId="icon"></p-calendar>
        </div>
        <label class="col-12 mb-2 md:col-2 md:mb-0">Time</label>
        <div class="col-12 md:col-2">
            <p-calendar [(ngModel)]="ToDoListObj.Time" [timeOnly]="true" hourFormat="12" dateFormat="mm:ss" inputId="timeonly"></p-calendar>
        </div>
    </div>
    <div class="field grid">
        <label class="col-12 mb-2 md:col-2 md:mb-0">Created By</label>
        <div class="col-12 md:col-3">
            <input pInputText id="name6" type="text" [(ngModel)]="ToDoListObj.CreatedBy"/>
        </div>
    </div>
    <div class="field grid">
        <label class="flex col-12 mb-2 md:col-3 md:mb-0">
            <button class="p-button-secondary mr-2"pButton pRipple type="button" label="Cancel"></button>
            <button  pButton pRipple type="button" label="Save" (click)="saveTaskDetails()"></button>
        </label>
    </div>
    <hr>
    <div class="field grid">
        <label class="bold col-12 mb-2 md:col-12 md:mb-0">To Do List</label>
    </div>
    <p-table *ngIf="toDoList?.length>0" #dt1 [value]="toDoList"  responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Task Name</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Time</th>
                <th>Created By</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{item.TaskName}}</td>
                <td>{{item.Description}}</td>
                <td>{{item.DueDate |date:  "dd-MM-yyyy"}}</td>
                <td>{{item.Time |date:"hh-mm"}}</td>
                <td>{{item.CreatedBy}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>