<div class="card" *ngIf="mode!=null">
    <div class="row">
        <div class="col-md-3">
            <div class="care-cont">
                <div class="short-cont" (click)="onClick('RI')">
                    <h2>Resident Information</h2>
                </div>
                <div class="short-cont" (click)="onClick('HD')">
                    <h2>Healthcare Details</h2>
                </div>
                <div class="short-cont" (click)="onClick('RP')">
                    <h2>Resident Preferences</h2>
                </div>
                <div class="short-cont" (click)="onClick('RPA')">
                    <h2>Details Prior to Admission</h2>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <form #myForm="ngForm">
                <p-accordion [multiple]="true" activeIndex="0,1,2,3">
                    <p-accordionTab id="RI">
                        <p-header class="w-100">
                            <div class="acc-tab">
                                <span>Resident information</span>
                                <div>
                                    <button *ngIf="mode=='view'" pButton type="button" label="Edit" class="btn-primary"
                                        (click)="edit()"></button>
                                    <button *ngIf="mode=='add' || mode=='edit'" pButton type="button" label="Save" class="btn-primary"
                                        (click)="Submit()" [disabled]="!myForm.form.valid"></button>
                                    <button *ngIf="mode=='add' || mode=='edit'" pButton type="button" label="Cancel"
                                    class="btn-secondary ml-2" (click)="close();"></button>
                                </div>
                            </div>
                        </p-header>
                        <div *ngIf="mode=='add' || mode=='edit'">
                            <!-- Resident details -->
                            <h5>Resident name</h5>
                            <div class="row" *ngIf="s_userTypeId===UserTypes.SuperAdmin">
                                <div class="col-md-4">
                                    <label class="form-label">Home <span class="required">*</span></label>
                                    <p-dropdown [required]="true" name="ddlHome" [options]="lstHomeMaster"
                                        [(ngModel)]="ResidentMaster.homemasterid" optionLabel="HomeName"
                                        optionValue="HomeMasterId" [filter]="true" placeholder="--select--"
                                        [style]="{width: '100%'}" #homeref="ngModel">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label">Title</label>
                                    <p-selectButton [options]="stlsttitle" [(ngModel)]="ResidentMaster.title"
                                        optionLabel="name" optionValue="code" name="Title"
                                        #titleref="ngModel"></p-selectButton>
                                </div>
                                <div class="col-md-auto errorMessage pt-6"
                                    *ngIf="titleref.errors &&(titleref.touched || titleref.dirty)">
                                    <div>Title is required.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">First Name <span class="required">*</span></label>
                                    <input pInputText type="text" required class="form-control" name="txtFName"
                                        [(ngModel)]="ResidentMaster.firstname" (keypress)="validateText($event)"
                                        #fNameref="ngModel">
                                </div>
                                <div class="col-md-auto errorMessage pt-6"
                                    *ngIf="fNameref.errors &&(fNameref.touched || fNameref.dirty)">
                                    <div>First Name is required.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">Middle Name</label>
                                    <input type="text" pInputText class="form-control" name="txtMiddleName"
                                        [(ngModel)]="ResidentMaster.middlename" (keypress)="validateText($event)">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">Last Name <span class="required">*</span></label>
                                    <input type="text" pInputText type="text" required class="form-control"
                                        name="txtLname" [(ngModel)]="ResidentMaster.lastname"
                                        (keypress)="validateText($event)" #lNameref="ngModel">
                                </div>
                                <div class="col-md-auto errorMessage pt-6"
                                    *ngIf="lNameref.errors &&(lNameref.touched || lNameref.dirty)">
                                    <div>Last Name is required.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">Preferred Name</label>
                                    <input pInputText type="text" class="form-control" name="txtFHName"
                                        [(ngModel)]="ResidentMaster.preferredname" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">Status <span class="required">*</span></label>
                                    <p-dropdown [required]="true" name="ddlStatus" [options]="stlststatus"
                                        [(ngModel)]="ResidentMaster.status" optionLabel="name" optionValue="code"
                                        [filter]="true" placeholder="Please Select Status" [style]="{width: '100%'}">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"
                                    *ngIf="(ResidentMaster.profileimage==null || ResidentMaster.profileimage==undefined || ResidentMaster.profileimage=='')">
                                    <label class="form-label">Resident Photo</label>
                                    <p-fileUpload name="file[]" [showUploadButton]="false" accept="image/*"
                                        [multiple]="true" [maxFileSize]="1000000" (onSelect)="fileUploader($event)"
                                        (onClear)="fileUploaderReset();"
                                        (onRemove)="fileUploaderReset();"></p-fileUpload>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-md-3 mt-2 border p-2 bdr6"
                                    *ngIf="(ResidentMaster.profileimage!=null && ResidentMaster.profileimage!=undefined && ResidentMaster.profileimage!='')">
                                    <div align="left" class="wd-30">
                                        <img style="height: 99px;" src="{{profileSrc}}{{ResidentMaster.profileimage}}">
                                    </div>
                                    <div class="wd-50">
                                        <label class="form-label">Resident Photo</label>
                                    </div>
                                    <div class="wd-20">
                                        <i title="Remove Photo" (click)="RemoveProfileImage()"
                                            class="fa fa-times removeicon p-button" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                            <!-- Resident demographics -->
                            <h5>Resident demographics</h5>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">Date Of Birth <span class="required">*</span></label>
                                    <p-calendar [required]="true" [maxDate]="todayDate"
                                        [(ngModel)]="ResidentMaster.dateofbirth" [ngModelOptions]="{standalone: true}"
                                        [showIcon]="true" inputId="icon" [dateFormat]="customDateFormat.CalendarFormat"
                                        #dobref="ngModel" class="iconcal"></p-calendar>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="form-label">Gender / sex <span class="required">*</span></label>
                                    <p-selectButton [options]="stlstgender" [(ngModel)]="ResidentMaster.gender"
                                        optionLabel="name" optionValue="code" name="gender"></p-selectButton>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">I describe myself as</label>
                                    <p-dropdown name="ddlMySelf" [options]="stlstmyself"
                                        [(ngModel)]="ResidentMaster.myself" optionLabel="name" optionValue="code"
                                        [filter]="true" placeholder="Choose description" [style]="{width: '100%'}"
                                        #myselfref="ngModel">
                                    </p-dropdown>
                                </div>
                                <div class="col-md-4" *ngIf="ResidentMaster.myself=='Other'">
                                    <label class="form-label"> </label>
                                    <input pInputText type="text" class="form-control" name="txtMySelfOther"
                                        [(ngModel)]="ResidentMaster.myselfother" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">Country of birth</label>
                                    <p-dropdown name="ddlBirthCountry" [options]="lstCountryMaster"
                                        [(ngModel)]="ResidentMaster.birthcountryid" optionLabel="name" optionValue="id"
                                        [filter]="true" placeholder="Choose country" [style]="{width: '100%'}">
                                    </p-dropdown>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">Primary language spoken</label>
                                    <input pInputText type="text" class="form-control" name="txtPrimaryLanguage"
                                        [(ngModel)]="ResidentMaster.primarylanguage" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">Secondary language spoken</label>
                                    <input pInputText type="text" class="form-control" name="txtSecondaryLanguage"
                                        [(ngModel)]="ResidentMaster.secondarylanguage" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">Religion</label>
                                    <input pInputText type="text" class="form-control" name="txtReligion"
                                        [(ngModel)]="ResidentMaster.religion" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label" for="">Marital status</label>
                                    <p-dropdown name="ddlMaritalStatus" [options]="stlstmaritalstatus"
                                        [(ngModel)]="ResidentMaster.maritalstatus" optionLabel="name" optionValue="code"
                                        [filter]="true" placeholder="Choose status" [style]="{width: '100%'}">
                                    </p-dropdown>
                                </div>
                            </div>
                            <!-- Admission setails -->
                            <h5>Admission details</h5>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">Status</label>
                                    <p-dropdown [required]="true" name="ddlAdmissionStatus"
                                        [options]="stlstadmissionstatus" [(ngModel)]="ResidentMaster.admissionstatus"
                                        optionLabel="name" optionValue="code" [filter]="true"
                                        placeholder="Choose status" [style]="{width: '100%'}">
                                    </p-dropdown>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Residency</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Dependency level</label>
                                    <p-dropdown name="ddlDependencyMaster" [options]="lstDependencyMaster"
                                        [(ngModel)]="ResidentMaster.dependencylevel" optionLabel="name"
                                        optionValue="code" [filter]="true" placeholder="Choose Dependency"
                                        [style]="{width: '100%'}">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">Location</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Room </label>
                                    <p-dropdown name="ddlRoom" [options]="lstRoomMaster"
                                        [(ngModel)]="ResidentMaster.roomnumber" optionLabel="name" optionValue="code"
                                        [filter]="true" placeholder="Choose Room" [style]="{width: '100%'}">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">Last date of admission</label>

                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Initial Admission Date</label>
                                    <p-calendar [maxDate]="todayDate" [(ngModel)]="ResidentMaster.admissiondate"
                                        [ngModelOptions]="{standalone: true}" [showIcon]="true" inputId="icon"
                                        [dateFormat]="customDateFormat.CalendarFormat" #initialadmdateref="ngModel"
                                        class="iconcal"></p-calendar>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">Departure Date</label>

                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Departure Reason</label>
                                    <input pInputText type="text" class="form-control" name="txtDepartureReason"
                                        [(ngModel)]="ResidentMaster.departurereason" />
                                </div>
                            </div>
                            <!-- Funding -->
                            <h5>Funding</h5>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">Funding</label>
                                    <p-dropdown name="ddlFunding" [options]="stlstfunding"
                                        [(ngModel)]="ResidentMaster.funding" optionLabel="name" optionValue="code"
                                        [filter]="true" placeholder="Choose Funding" [style]="{width: '100%'}"
                                        #Fundingref="ngModel">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label">Payer details - name</label>
                                    <input pInputText type="text" class="form-control" name="txtName"
                                        [(ngModel)]="ResidentMaster.payername" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label">Payer details - address</label>
                                    <input pInputText type="text" class="form-control" name="txtAddress"
                                        [(ngModel)]="ResidentMaster.payeraddress" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label">Payer details - post code</label>
                                    <input pInputText type="text" class="form-control" name="txtPostcode"
                                        [(ngModel)]="ResidentMaster.payerpostcode" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label">Payer details - telephone</label>
                                    <p-inputNumber [(ngModel)]="ResidentMaster.payertelephone"
                                        name="txtTelephone" mode="decimal" [useGrouping]="false" [maxlength]="20"></p-inputNumber>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label">Payer details - relationship to resident</label>
                                    <input pInputText type="text" class="form-control" name="txtrelationship"
                                        [(ngModel)]="ResidentMaster.payerrelationship" />
                                </div>
                            </div>
                        </div>
                    </p-accordionTab>
                    <div id="HD" *ngIf="healthcareMode!=''">
                        <app-resident-healthcare-details [mode]="healthcareMode" [userid]="selecteduserid"
                            [admissionid]="selectedadmissionid"></app-resident-healthcare-details>
                    </div>
                    <div id="RP" *ngIf="healthcareMode!=''">
                        <app-resident-preferences [mode]="healthcareMode" [userid]="selecteduserid"
                            [admissionid]="selectedadmissionid"></app-resident-preferences>
                    </div>
                    <div id="RPA" *ngIf="healthcareMode!=''">
                        <app-resident-prior-admission [mode]="healthcareMode" [userid]="selecteduserid"
                            [admissionid]="selectedadmissionid"></app-resident-prior-admission>
                    </div>
                </p-accordion>
            </form>
        </div>
    </div>
</div>