<div class="layout-topbar">
    <!-- <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">
       
    </a> -->
        
    <div class="row">
        <div class="col-md-6">
            <div class="help-head">
               <h3> {{_ConstantServices.ActiveMenuName}}</h3>
            </div>
        </div>
        <div class="col-md-6">
            <div class="help-btn text-right">
             
                <a title="Back to List" href="#/resident-list"><i class="fa-solid fa-arrow-left-long"></i></a>
                    <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#/auth/logout">Logout</a></li>
                    </ul>
            </div>
        </div>
    </div>

    <button #topbarmenubutton class="p-link head-icon layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu " [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <!-- <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button> -->
        <!-- <div class="dropdown">
        <button class="p-link layout-topbar-button dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown">
            <i class="pi pi-user"></i>
            
        </button>
            
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#"><i class="iconset pi pi-user-edit"></i> Edit </a></li>
              <li><a class="dropdown-item" href="#"><i class="iconset pi pi-cog"></i> Setting</a></li>
              <li><a class="dropdown-item" href="#"><i class="iconset pi pi-unlock"></i> Logout</a></li>
            </ul>
          </div> -->
        <!-- <button class="p-link layout-topbar-button">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button> -->

    </div>
</div>

<style>
    .layout-topbar-logo span {
        font-weight: 600;
        color: #ffffff;
    }
    .logo-head {
    background: #fff;
    border-radius: 2px;
    padding: 4px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px 0 0;
}
.layout-topbar .layout-topbar-logo img {
    height: 2.5rem;
    margin-right: 0;
}
.layout-topbar .layout-topbar-logo:focus{
    box-shadow: none;
}
</style>
