<div class="layout-wrapper" [ngClass]="containerClass">
    <!-- <app-topbar></app-topbar> -->
    <div class="layout-sidebar">
        <app-sidebar></app-sidebar> 
    </div>
    <div class="layout-main-container">
        <div class="layout-main">
            <button #menubutton class="p-link menu-icon layout-menu-button layout-topbar-button barrr" (click)="layoutService.onMenuToggle()">
                <i class="pi pi-bars"></i>
            </button>
            <div class="row">
                <div class="col-md-6">
                    <div class="help-head">
                       <h3> {{_ConstantServices.ActiveMenuName}}</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="help-btn text-right">
                        <a href="#/resident/resident-master?q={{params}}">Resident</a>
                        <a href="#/clinical?q={{params}}">Clinical</a>
                        <a href="#/contacts?q={{params}}">Contacts</a>
                        <a title="Back to List" href="#/resident-list"><i class="fa-solid fa-arrow-left-long"></i></a>
                    </div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
        <!-- <app-footer></app-footer> -->
    </div>
    <!-- <app-config></app-config> -->
    <div class="layout-mask"></div>
</div>
