
<div class="card">
<div class="row">
    <div class="col-md-3">
        <div class="care-cont">
            <div class="short-cont" (click)="onClick('PC')">
                <h2>Primary contact</h2>
            </div>
            <div class="short-cont" (click)="onClick('SC')">
                <h2>Secondary contact</h2>
            </div>
            <div class="short-cont" (click)="onClick('RPC')">
                <h2>Responsible person contact</h2>
            </div>
            <div class="short-cont" (click)="onClick('FPA')">
                <h2>First power of attorney</h2>
            </div>
            <div class="short-cont" (click)="onClick('SPA')">
                <h2>Second power of attorney</h2>
            </div>
            <div class="short-cont" (click)="onClick('DR')">
                <h2>Doctor</h2>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <form #myForm="ngForm">
            <p-accordion>
                <div id="PC" *ngIf="healthcareMode!=''">
                    <app-primary-contact [mode]="healthcareMode" [userid]="selecteduserid"
                    [admissionid]="selectedadmissionid"></app-primary-contact>
                </div>
                <div id="SC" *ngIf="healthcareMode!=''">
                    <app-secondary-contact [mode]="healthcareMode" [userid]="selecteduserid"
                    [admissionid]="selectedadmissionid"></app-secondary-contact>
                </div>
                <div id="RPC" *ngIf="healthcareMode!=''">
                    <app-responsible-person-contact [mode]="healthcareMode" [userid]="selecteduserid"
                    [admissionid]="selectedadmissionid"></app-responsible-person-contact>
                </div>
                <div id="FPA" *ngIf="healthcareMode!=''">
                    <app-first-power-of-attorney [mode]="healthcareMode" [userid]="selecteduserid"
                    [admissionid]="selectedadmissionid"></app-first-power-of-attorney>
                </div>
                <div id="SPA" *ngIf="healthcareMode!=''">
                    <app-second-power-of-attorney [mode]="healthcareMode" [userid]="selecteduserid"
                    [admissionid]="selectedadmissionid"></app-second-power-of-attorney>
                </div>
                <div id="DR" *ngIf="healthcareMode!=''">
                    <app-doctor [mode]="healthcareMode" [userid]="selecteduserid"
                    [admissionid]="selectedadmissionid"></app-doctor>
                </div>
            </p-accordion>
        </form>

    </div>
</div>
</div>