<div class="card">
    <div class="row mt-2">
        <div class="col-md-4">
            <label class="form-label"><b> Started by (Name) :</b> </label>

        </div>
        <div class="col-md-4">
            <label class="form-label"><b>Designation :</b> </label>

        </div>
        <div class="col-md-4">
            <label class="form-label"> <b>Date/Time : </b></label>

        </div>
        <div class="col-md-4">
            <label class="form-label"> <b>Last entered by (Name) :</b></label>

        </div>
        <div class="col-md-4">
            <label class="form-label"> <b>Designation :</b></label>

        </div>
        <div class="col-md-4">
            <label class="form-label"> <b>Date/Time :</b> </label>

        </div>
        <div class="col-md-4 mt-3">
            <div class="preform-box">
                <p> Name all parties who have assisted with information</p>
            </div>
        </div>
        <div class="col-md-7 mt-3 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" >
            <p>include relationship to the resident & contact details</p>
        </div>
        <div class="col-md-1 mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="preform-box">
                <p>Does the person have capacity to consent to care and accommodtion</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input class="form-control" type="file" id="formFileMultiple" multiple>
            <p>if person lacks capacity what powers are they being moved under section 13ZA, POA Guardianship</p>
        </div>
        <div class="col-md-1 mt-4">
            <i class="fa-solid fa-info"></i>

        </div>

        <div class="col-md-4">
            <div class="preform-box">
                <p> Have any of following professional documents been obtained</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input class="form-control" type="file" id="formFileMultiple" multiple>
            <p>if not obtained or in place, AWI certificate and correponding treatment plan, copy of power of Attorney
                or Guardianship, copy of Community Treatment Order.</p>
        </div>
        <div class="col-md-1 mt-4">
            <i class="fa-solid fa-info"></i>

        </div>
        <div class="col-md-4">
            <div class="preform-box">
                <p> Where is the resident moving in from</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input class="form-control" type="file" id="formFileMultiple" multiple>
        </div>
        <div class="col-md-1 mt-4">
            <i class="fa-solid fa-info"></i>

        </div>
        <div class="col-md-4">
            <div class="preform-box">
                <p>Payment / funding </p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input class="form-control" type="file" id="formFileMultiple" multiple>
            <p>Update resident admission details</p>
        </div>
        <div class="col-md-1 mt-4">
            <i class="fa-solid fa-info"></i>

        </div>
        <div class="col-md-4">
            <div class="preform-box">
                <p> What are the persons current abilities and how can we continue to use and develop these?</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input class="form-control" type="file" id="formFileMultiple" multiple>
            <p>Focus in this section on the person abilities not their disabilities -positively report that they can
                recognise the need to attend the toilet however requires support to attend the toilet.</p>
        </div>
        <div class="col-md-1 mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="preform-box">
                <p> Advanced care planning (ACP)</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input class="form-control" type="file" id="formFileMultiple" multiple>
        </div>
        <div class="col-md-1 mt-4">
            <i class="fa-solid fa-info"></i>

        </div>
        <div class="col-md-4">
            <div class="preform-box">
                <p> Medical history and medical conditions</p>
            </div>

        </div>
        <div class="col-md-7 mb-4">
            <input class="form-control" type="file" id="formFileMultiple" multiple>
            <p>Include any pacemakers, please at the point of pre admission please request a GP Summary print out from
                their
                own GP which will detail all Medical history .</p>
        </div>
        <div class="col-md-1 mt-4">
            <i class="fa-solid fa-info"></i>

        </div>
        <div class="col-md-4">
            <div class="preform-box">
                <p> Social and spiritual , activities and interests</p>
            </div>

        </div>
        <div class="col-md-7 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control">
        </div>
        <div class="col-md-1 mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="preform-box">
                <p>Connecting and Communication</p>
            </div>

        </div>
        <div class="col-md-7 mb-4">
            <input class="form-control" type="file" id="formFileMultiple" multiple>
            <p>include all the applicable options below and expand if required using the Other Option</p>
        </div>
        <div class="col-md-1 mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="preform-box">
                <p>Personal safety (probability of resident leaving the home unnoticed)</p>
            </div>

        </div>
        <div class="col-md-7 mb-4">
            <input class="form-control" type="file" id="formFileMultiple" multiple>
            <p>Please review in a risk aware manner how can we safely consider the resident enablement while considering
                safety in there any electronic devises we can use to promote safety.</p>
        </div>
        <div class="col-md-1 mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="preform-box">
                <p>Leaving the Home unescorted-Herbert protocol</p>
            </div>

        </div>
        <div class="col-md-7 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control">
            <p>Please complete fully the Herbert protocol and request permission for AlZheimer's Scotland Purple alert
                profile to be developed</p>
        </div>
        <div class="col-md-1 mt-4">
            <i class="fa-solid fa-info"></i>

        </div>
    </div>
</div>