
<p-accordionTab>
<p-header class="w-100">
    <div class="acc-tab">
        <span>Healthcare details</span>
        <div>
            <button *ngIf="mode=='view'" pButton type="button" label="Edit"
                (click)="edit()" [disabled]="(admissionid==null || admissionid==undefined)"></button>
                <button *ngIf="mode=='edit'" pButton type="button" label="Save"
                (click)="save()"></button>
            <button *ngIf="mode=='edit'" pButton type="button" label="Close" class="p-button-secondary ml-2"
                (click)="close()"></button>
        </div>
    </div>
</p-header>
<!-- <div class="row mb-5">
    <div class="col-md-12">
        <div class="">
            <button *ngIf="mode=='view'" pButton type="button" label="Edit" 
                (click)="edit()" [disabled]="(admissionid==null || admissionid==undefined)"></button>
            <button *ngIf="mode=='edit'" pButton type="button" label="Save"
                (click)="save()"></button>
            <button *ngIf="mode=='edit'" pButton type="button" label="Close" class="p-button-secondary"
                (click)="close()"></button>
        </div>
    </div>
</div> -->
<div *ngIf="mode=='view'">
    <div class="row">                    
        <div class="col-md-3">
            <label class="form-label">NHS/CHI Number</label>
            {{ResidentMaster.NHSNumber}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label class="form-label">National Insurance Number</label>
            {{ResidentMaster.InsuranceNumber}}
        </div>
    </div>
    <div class="row">
        <h5>Memebership Details</h5> 
        <div class="col-md-4">
            <label class="form-label">Private health insurance provider</label>
            {{ResidentMaster.InsuranceProvider}}
        </div>
        <div class="col-md-4">
            <label class="form-label">Memebers number</label>
            {{ResidentMaster.MembershipNumber}}
        </div>
    </div> 
</div>
<div *ngIf="mode=='edit'">
    <div class="row">                    
        <div class="col-md-4">
            <label class="form-label">NHS/CHI Number</label>
            <input pInputText type="text" class="form-control" name="txtNHS"
                [(ngModel)]="ResidentMaster.NHSNumber"
                placeholder="" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="form-label">National Insurance Number</label>
            <input pInputText type="text" class="form-control" name="txtInsuranceNumber"
                [(ngModel)]="ResidentMaster.InsuranceNumber"
                placeholder="" />
        </div>
    </div>
    <div class="row">
        <h5>Memebership Details</h5> 
        <div class="col-md-4">
            <label class="form-label">Private health insurance provider</label>
            <input pInputText type="text" class="form-control" name="txtPrivatehealth"
                [(ngModel)]="ResidentMaster.InsuranceProvider"
                placeholder="" />
        </div>
        <div class="col-md-4">
            <label class="form-label">Memebers number</label>
            <input pInputText type="text" class="form-control" name="Memebersnumber" [(ngModel)]="ResidentMaster.MembershipNumber" placeholder="" />
        </div>
    </div> 
</div>
</p-accordionTab>
    