<div class="row">
    <div class="col-md-4">
<div class="card">
    <div class="Profile-cvr">
        <div class="Profile-left">
            <div class="pic">
                <img src="../../../../../assets/Images/profile.png" class="" />
            </div>
        </div>
        <div class="Profile-right">
           <div class="field col-12 md:col-4">
           <label class="bold">Name:</label>
           {{objPatient.name}}
        </div>
        <div class="field col-12 md:col-4">
            <label class="bold">DOB:</label>
           {{objPatient.DOB}}
        </div>
        <div class="field col-12 md:col-4">
            <label class="bold">Date of Addmission:</label>
            {{objPatient.admDate}}
        </div>
        <div class="field col-12 md:col-4">
            <label class="bold">Contact No.:</label>
            {{objPatient.ContactNo}}
        </div>
        <div class="field col-12 md:col-4">
            <label class="bold">Blood Group:</label>
            {{objPatient.BloodGroup}}
        </div>
        <div class="field col-12 md:col-4">
            <label class="bold">Address:</label>
            {{objPatient.Address}}
        </div>
        <div class="field col-12 md:col-4">
            <label class="bold">Likes:</label>
            {{objPatient.Likes}}
        </div>
        <div class="field col-12 md:col-4">
            <label class="bold">Dislikes:</label>
            {{objPatient.Dislikes}}
        </div>
        <div class="field col-12 md:col-4">
            <label class="bold">Drug Allergies:</label>
            {{objPatient.DrugAllergies}}
        </div>
        </div>
    </div>


</div>
</div>

<div class="col-md-8">

    <app-personal-details [tabid]="tabid" *ngIf="seq=='1'"></app-personal-details>
    <app-body-map *ngIf="seq=='2'"></app-body-map>
    <app-fluid-assessment *ngIf="seq=='3'"></app-fluid-assessment>
    <app-todo-list *ngIf="seq=='4'"> </app-todo-list>
    <app-pain-assessment *ngIf="seq=='5'"></app-pain-assessment>
    <app-diet-planner *ngIf="seq=='6'"></app-diet-planner>
    <app-fall-risk-assessment *ngIf="seq=='7'"></app-fall-risk-assessment>
</div>
</div>


    
