<div class="card">
    <h5>Resident Profile</h5>
    <div class="grid p-fluid mt-1">
        <div class="field col-12 md:col-4">
           <label class="bold">Name:</label>
           {{objPatient.name}}
        </div>
        <div class="field col-12 md:col-4">
            <label class="bold">DOB:</label>
           {{objPatient.DOB}}
        </div>
        <div class="field col-12 md:col-4">
            <label class="bold">Date of Addmission:</label>
            {{objPatient.admDate}}
        </div>
        <div class="field col-12 md:col-4">
            <label class="bold">Contact No.:</label>
            {{objPatient.ContactNo}}
        </div>
        <div class="field col-12 md:col-4">
            <label class="bold">Blood Group:</label>
            {{objPatient.BloodGroup}}
        </div>
        <div class="field col-12 md:col-4">
            <label class="bold">Address:</label>
            {{objPatient.Address}}
        </div>
    </div>
</div>
<div class="card">
    <h5>{{title}}</h5>
    <app-personal-details *ngIf="seq=='1'"></app-personal-details>
    <app-fluid-assessment *ngIf="seq=='3'"></app-fluid-assessment>
</div>