<div class="surface-ground flex  justify-content-left min-h-screen min-w-screen overflow-hidden login-bg">
    <div class="mr-5 flex flex-column align-items-center justify-content-left">
         <div class="logo-top"><img src="assets/Images/logo.png"></div>

        <div class="white-bg">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="welcome">Welcome, Isabel</div>
                <div class="text-center mb-5">
                    <span class="text-600 font-medium">Sign in to continue</span>
                </div>

                <div>
                    <label for="email1" class="block text-900 text-xl font-medium mb-2">Login Id</label>
                    <input id="email1" type="text" placeholder="Login Id" [(ngModel)]="UserName" pInputText class="w-full mb-5" style="padding:1rem">

                    <label for="password1" class="block text-900 font-medium text-xl mb-2">Password</label>
                    <p-password id="password1" [(ngModel)]="Password" placeholder="Password" [toggleMask]="true"  styleClass="w-full mb-5" inputStyleClass="w-full p-3">
                    </p-password>

                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">Forgot password?</a>
                    </div>
                    <button pButton pRipple label="Sign In" class="w-full p-3 text-xl" (click)="ValidateLogin()"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .flex {
    display: flex !important;
    justify-content: end;
    align-items: center;
    width: 490px;
}
.text-600 {
    color: #000000 !important;
}
.white-bg{
    border-radius:56px;
    padding:0.3rem;
    background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);
    width: 100%;
}
.sm\:px-8 {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}
.logo-top {
    padding: 10px 0;
}
.welcome {
    font-size: 24px;
    color: #000;
    text-align: center;
    font-weight: 500;
    margin: 0 0 8px;
}
</style>
