<div *ngIf="mode==null">
    <div class="card">
        <p-table #dt [value]="lstMaster" responsiveLayout="scroll" styleClass="p-datatable-striped" [rowHover]="true"
            [globalFilterFields]="['taskname','taskdescription','assignedtoname']" [scrollable]="true" scrollHeight="calc(100vh - 215px)">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <span class="p-ml-left">
                        <button pButton title="New" label="Add New" class="p-button-outlined mr-2" icon="pi pi-plus"
                            (click)="AddNewItem()"></button>
                        <span class="total-txt">
                            {{lstMaster?.length>0?'Total Records:
                            '+filteredValuesLength:''}} </span>
                    </span>
                    <span class="p-ml-auto">                       
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input #filtr pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                                placeholder="Search..." /></span>
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns?.length">
                        No records found
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Task Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Create on</th>
                    <th>Start time</th>
                    <th>Due time</th>
                    <th>Assigned to</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dt let-i="rowIndex">
                <tr>
                    <td>{{dt.taskname}}</td>
                    <td>{{dt.taskdescription}}</td>
                    <td>{{taskPlannerStatus[dt.status]}}</td>
                    <td>{{dt.createdon | date:customDateFormat.DEF_DATE}}</td>
                    <td>{{dt.starttime | date:customDateFormat.DEF_DATE_TIME}}</td>
                    <td>{{dt.duetime | date:customDateFormat.DEF_DATE_TIME}}</td>
                    <td>{{dt.assignedtoname}}</td>
                    <td>
                        <a title="View/Edit" (click)="GetTaskPlannerById(dt.taskplannerid)">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>
<div *ngIf="mode!=null">
    <form #myForm="ngForm">
        <div class="card">
            <div class="row">                
                <div class="col-md-3">
                    <label class="form-label">Task Name <span class="required">*</span></label>
                    <input pInputText type="text" required name="taskname" [(ngModel)]="master.taskname"
                        class="form-control" #taskname="ngModel" />
                </div>
                <div class="col-md-3">
                    <label class="form-label">Description </label>
                    <textarea [disabled]="mode=='Edit'" class="form-control" rows="4" name="taskdescription"
                                    [(ngModel)]="master.taskdescription" style="width: 100%;"></textarea>                    
                </div>
                <div class="col-md-3">
                    <label class="form-label">Start Time <span class="required">*</span></label>                    
                        <p-calendar [disabled]="mode=='Edit'" [required]="true" [minDate]="today" [maxDate]="(master.duetime==null || master.duetime==undefined)? false:master.duetime"
                            [(ngModel)]="master.starttime"
                            [ngModelOptions]="{standalone: true}" [showIcon]="true" inputId="icon"
                            [showTime]="true" [dateFormat]="customDateFormat.CalendarFormat" #starttimeref="ngModel"
                            class="iconcal"></p-calendar>                    
                </div>
                <div class="col-md-3">
                    <label class="form-label">Due Time <span class="required">*</span></label>                    
                        <p-calendar [disabled]="mode=='Edit'" [required]="true" 
                            [(ngModel)]="master.duetime"
                            [ngModelOptions]="{standalone: true}" [showIcon]="true"  [minDate]="(master.starttime==null || master.starttime==undefined)? today:master.starttime" inputId="icon"
                            [showTime]="true" [dateFormat]="customDateFormat.CalendarFormat" #duetimeref="ngModel"
                            class="iconcal"></p-calendar>                    
                </div>
                <div class="col-md-3">
                    <label class="form-label">Assigned to<span class="required">*</span></label>
                    <p-dropdown [disabled]="mode=='Edit'" [required]="true" [options]="lstResidentMaster" [(ngModel)]="master.assignedto"
                        [ngModelOptions]="{standalone: true}" optionLabel="firstname" optionValue="userid" placeholder="Select"
                        [style]="{width: '100%'}">
                    </p-dropdown>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Status<span class="required">*</span></label>
                    <p-dropdown [required]="true" [options]="stlststatus" [(ngModel)]="master.status"
                        [ngModelOptions]="{standalone: true}" optionLabel="name" optionValue="code" placeholder="Select"
                        [style]="{width: '100%'}">
                    </p-dropdown>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="flex flex-wrap gap-2">
                        <button pButton type="button" label="Submit" (click)="Save()" class="btn-primary"
                            [disabled]="!myForm.form.valid"></button>
                        <button pButton type="button" label="Close" class="btn-secondary"
                            (click)="Close()"></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>