<div class="grid">
    <div class="col-12 md:col-6">
        <div class="card p-fluid">
            <h5>Horizontal</h5>
            <div class="field grid">
                <label htmlFor="nname3" class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
                <div class="col-12 md:col-10">
                    <input pInputText id="nname3" type="text" />
                </div>
            </div>
            <div class="field grid">
                <label htmlFor="email3" class="col-12 mb-2 md:col-2 md:mb-0">Email</label>
                <div class="col-12 md:col-10">
                    <input pInputText id="email3" type="text" />
                </div>
            </div>
        </div>
    </div>
</div>