<div class="card">
    <div class="row">
        <div class="col-md-3">
            <div class="care-cont">
                <div class="short-cont" (click)="onClick('AL')">
                    <h2>Allergies</h2>
                </div>
                <div class="short-cont" (click)="onClick('RI')">
                    <h2>Resident indicators</h2>
                </div>
                <div class="short-cont" (click)="onClick('CI')">
                    <h2>Clinical information</h2>
                </div>
                <div class="short-cont" (click)="onClick('BHI')">
                    <h2>Baseline health information</h2>
                </div>
                <div class="short-cont" (click)="onClick('AP')">
                    <h2>Alert preferences</h2>
                </div>
                <div class="short-cont" (click)="onClick('CP')">
                    <h2>Chart preferences</h2>
                </div>
                <div class="short-cont" (click)="onClick('DV')">
                    <h2>Daily Vital</h2>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <form #myForm="ngForm">
                <p-accordion [multiple]="true" activeIndex="0,1,2,3,4,5">
                    <div id="AL" *ngIf="healthcareMode!=''">
                        <app-allergies [mode]="healthcareMode" [userid]="selecteduserid"
                            [admissionid]="selectedadmissionid"></app-allergies>
                    </div>
                    <div id="RI" *ngIf="healthcareMode!=''">
                        <app-resident-indicators [mode]="healthcareMode" [userid]="selecteduserid"
                            [admissionid]="selectedadmissionid"></app-resident-indicators>
                    </div>
                    <div id="CI" *ngIf="healthcareMode!=''">
                        <app-clinical-information [mode]="healthcareMode" [userid]="selecteduserid"
                            [admissionid]="selectedadmissionid"></app-clinical-information>
                    </div>
                    <div id="BHI" *ngIf="healthcareMode!=''">
                        <app-baseline-health-information [mode]="healthcareMode" [userid]="selecteduserid"
                            [admissionid]="selectedadmissionid"></app-baseline-health-information>
                    </div>
                    <div id="AP" *ngIf="healthcareMode!=''">
                        <app-alert-preferences [mode]="healthcareMode" [userid]="selecteduserid"
                            [admissionid]="selectedadmissionid"></app-alert-preferences>
                    </div>
                    <div id="CP" *ngIf="healthcareMode!=''">
                        <app-chart-preferences [mode]="healthcareMode" [userid]="selecteduserid"
                            [admissionid]="selectedadmissionid"></app-chart-preferences>
                    </div>
                    <div id="DV" *ngIf="healthcareMode!=''">
                        <app-daily-vital [mode]="healthcareMode" [userid]="selecteduserid"
                            [admissionid]="selectedadmissionid"></app-daily-vital>
                    </div>
                </p-accordion>
            </form>

        </div>
    </div>
</div>