/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";

@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
.bold{font-weight: bold;}
.surface-red-border {
    border-color: red !important;
}
.imgborder{
    border-width: 1px !important; border-color: red !important; border-style: solid !important;
}

.login-bg{
    background: url(../src/assets/Images/login-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.p-datatable {
    position: relative;
    border: 1px solid #dee2e6;
    border-top: 0px;
}

.p-datatable .p-datatable-thead > tr > th {
    white-space: nowrap;
    padding: 14px 10px;
}
.p-datatable .p-datatable-tbody > tr > td {
    white-space: nowrap;
    padding: 2px 10px;
}
.p-accordion-content .grid.image-tiles .field{
    border: 1px solid #d3d3d3;
}
// .p-accordion-content .grid .field img{
//     border: 1px solid #d3d3d3;
// }
.p-accordion-content .p-datatable .p-datatable-tbody > tr > td {
    white-space: nowrap;
    padding: 10px 10px;
}
.p-accordion-content .grid.image-tiles .mr-2 {
    margin-right: 1.5rem !important;
}
 .Body-Map .p-datatable-table tbody td {
    padding: 10px 4px !important;
    padding: 10px 6px !important;
}
.Body-Map .p-datatable-table thead th {
    padding: 2px 6px !important;
}
 .Body-Map .p-datatable-table {
    border-top: 1px solid #dee2e6;
}
.pic {
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    height: 99px;
    align-items: center;
    display: flex;
}
.img-radis img {
    border-radius: 10px;
}
img.table-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.Daily-Target .md\:col-4 {
    padding: 0 24px;
}

.center-table .p-datatable-tbody > tr > td {
    text-align: center;
}

.center-table .p-datatable-thead  > tr > th {
    text-align: center;
}
.field > label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: 700;
}
label.bold.lable-space {
    padding: 10px 0 0;
}
.image-tiles img.custom-ico {
    width: 100%;
    height: 160px;
}
.layout-topbar .layout-menu-button {
    margin-left: -48px;
}
h5.passport {
    font-weight: 600;
    margin: 0;
}


/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

.center-tdth .p-datatable .p-datatable-thead > tr > th{
    text-align: center;
}
.center-tdth .p-datatable .p-datatable-tbody > tr > td{
    text-align: center;
}
h4.heading-care {
    font-weight: 600;
    font-size: 17px;
    color: #2e2e2e;
}
h6.text-hd {
    font-size: 15px;
}
h5.label-name {
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0 4px;
}

.form-control {
    border: 1px solid #cecece;
  }

  .form-control:focus {
    border: 1px solid #ca9701;
  }

.map-body .p-datatable-table .p-datatable-thead tr th {
    border-top: 1px solid #d3d3d3 !important;
    width: 150px !important;
}
.map-body .p-datatable-table .p-datatable-tbody  td .p-inputtext {
    width: 150px !important;
    margin: 6px 1px;
}


/*Theme*/
body{ background-color: #F3F4F4;}
.layout-sidebar { width: 246px; top: 0 !important; padding: 1rem; background: #023C40; color: #fff;}
.layout-topbar { width: 82%; right: 0 !important; left: auto; background: none; box-shadow: none; padding: 0;}
.layout-wrapper.layout-static.layout-static-inactive .layout-sidebar {left: 70px; width: auto; }
.layout-wrapper.layout-static.layout-static-inactive .layout-topbar { width: 95%;}
.layout-wrapper.layout-static.layout-static-inactive .layout-menuitem-text { display: none;}
.layout-wrapper.layout-static.layout-static-inactive .layout-menu ul a { left: 20px;}
.layout-wrapper.layout-static.layout-static-inactive .layout-main { margin-left: 60px;}
.layout-wrapper.layout-static .layout-main-container { margin-left: 240px; }
.layout-menu ul a { color: #fff;}
.layout-menu ul a:hover {border-radius: 2px; background: #1E4F53 !important;}
.layout-topbar .layout-topbar-logo { width: 70px;}
.layout-main-container { padding-top: 70px;}
.layout-wrapper.layout-static.layout-static-inactive .layout-menu img { position: relative; left: 20px;}
.layout-topbar-menu i, .layout-topbar .layout-menu-button { color: #023c40;background: #fff; padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #00000016; }