.red-heading {
    background: #c4111a;
    padding: 8px 10px;
    color: #fff;
}
.red-img {
    background: #f9e3d9;
    padding: 6px;
}
.red-cardcvr {
    border: 1px solid #444444;
}

.yellow-heading {
    background: #F47B21;
    padding: 8px 10px;
    color: #fff;
}
.yellow-img {
    background: #FFFBD6;
    padding: 6px;
}
.yellow-cardcvr {
    border: 1px solid #444444;
}

.green-heading {
    background: #00A54F;
    padding: 8px 10px;
    color: #fff;
}
.green-img {
    background: #E3F2E7;
    padding: 6px;
}
.green-cardcvr {
    border: 1px solid #444444;
}

.textare-cover textarea {
    width: 100%;
    resize: none;
    background: #f1f4ff;
    padding: 20px;
}
.textare-cover {
    padding: 10px;
}

