<form #myForm="ngForm">
    <p-accordionTab [selected]="true">
        <p-header class="w-100">
            <div class="acc-tab">
                <span>Second power of attorney</span>
                <div>
                    <button *ngIf="mode=='view'" pButton type="button" label="Edit" class="btn btn-primary"
                        (click)="$event.stopPropagation();edit()" [disabled]="isEditable"></button>
                    <button *ngIf="mode=='edit'" pButton type="button" label="Save" class="btn btn-primary"
                        (click)="$event.stopPropagation();save()" [disabled]="!myForm.form.valid"></button>
                    <button *ngIf="mode=='edit'" pButton type="button" label="Cancel" class="btn btn-secondary ml-2"
                        (click)="$event.stopPropagation();close()"></button>
                </div>
            </div>
        </p-header>
        <div class="row mt25">
            <div class="row">
                <h5 class="m-0">Contact note</h5>
                <div class="col-md-12">
                    <div *ngIf="mode=='edit'">
                        <input type="text" name="contactnote" pInputText [(ngModel)]="Contact.contactnote"
                            [style]="{width: '100%'}" class="mb-2" />
                    </div>
                    <div class="my-2" *ngIf="mode=='view'">{{Contact.contactnote}}</div>
                </div>
                <h5 class="m-0">Second power of attorney </h5>
                <div class="col-md-6">
                    <label class="form-label"><span class="required">*</span> Power of attorney type</label>
                    <div *ngIf="mode=='edit'">
                        <p-dropdown name="ddlAttorneyType" [options]="lstAttorneyTypeMaster"
                            [(ngModel)]="Contact.attorneytypemasterid" optionLabel="typename"
                            optionValue="attorneytypemasterid" [filter]="true" placeholder="Select POA Type"
                            [style]="{width: '100%'}" #poaref="ngModel" class="mb-2">
                        </p-dropdown>
                        <div class="errorMessage pt-2" *ngIf="poaref.errors &&(poaref.touched || poaref.dirty)">
                            <div>POA type is required.</div>
                        </div>
                    </div>
                    <div class="my-2" *ngIf="mode=='view'">{{Contact.typename}}</div>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Other type</label>
                    <div *ngIf="mode=='edit'">
                        <input type="text" name="othertype" pInputText [(ngModel)]="Contact.othertype"
                            [style]="{width: '100%'}" class="mb-2" />
                    </div>
                    <div class="my-2" *ngIf="mode=='view'">{{Contact.othertype}}</div>
                </div>
                <h5 class="m-0">Contact name </h5>
                <div class="col-md-6">
                    <label class="form-label"><span class="required">*</span> First name / Organisation name</label>
                    <div *ngIf="mode=='edit'">
                        <input required type="text" name="firstname" pInputText [(ngModel)]="Contact.firstname"
                            [style]="{width: '100%'}" #fNameref="ngModel" class="mb-2" />
                        <div class="errorMessage pt-2" *ngIf="fNameref.errors &&(fNameref.touched || fNameref.dirty)">
                            <div>First name is required.</div>
                        </div>
                    </div>
                    <div class="my-2" *ngIf="mode=='view'">{{Contact.firstname}}</div>
                </div>

                <div class="col-md-6">
                    <label class="form-label"><span class="required">*</span> Last name</label>
                    <div *ngIf="mode=='edit'">
                        <input required type="text" name="lastname" pInputText [(ngModel)]="Contact.lastname"
                            [style]="{width: '100%'}" #lNameref="ngModel" class="mb-2" />
                        <div class="errorMessage pt-2" *ngIf="lNameref.errors &&(lNameref.touched || lNameref.dirty)">
                            <div>Last name is required.</div>
                        </div>
                    </div>
                    <div class="my-2" *ngIf="mode=='view'">{{Contact.lastname}}</div>
                </div>
                <h5 class="m-0">Contact details</h5>
                <div class="col-md-4">
                    <label class="form-label">Telephone</label>
                    <div *ngIf="mode=='edit'">
                        <p-inputNumber name="telephone" [(ngModel)]="Contact.telephone"
                        mode="decimal" [useGrouping]="false" [maxlength]="20"></p-inputNumber>                         
                    </div>
                    <div class="my-2" *ngIf="mode=='view'">{{Contact.telephone}}</div>
                </div>
            </div>
        </div>
    </p-accordionTab>
</form>