<div class="row mt-2">
    <div class="col-md-12">
        <div class="flex flex-wrap gap-2">
            <button *ngIf="mode=='view'" pButton type="button" label="Edit" class="btn btn-primary"
                (click)="edit()"></button>
            <button *ngIf="mode=='edit'" pButton type="button" label="Save" class="btn btn-primary"
                (click)="save()"></button>
            <button *ngIf="mode=='edit'" pButton type="button" label="Close" class="btn btn-secondary"
                (click)="close()"></button>
        </div>
    </div>
</div>

<div class="row mt25" *ngIf="mode=='view'">
    <div class="col">
        <div class="row">
            <span><b>Contact note</b></span>
            <div class="col-md-12">
               {{SecondPowerOfAttorneyContact.ContactNote}} 
            </div>
            <span class="mt-5"><b>First power of attorney</b></span>
            <div class="col-md-6">
                <span style="color: #808080;">Power of attorney type</span><br>
                {{SecondPowerOfAttorneyContact.Attorneytype}}
            </div>
            <div class="col-md-6">
                <span style="color: #808080;">Other type</span><br>
                {{SecondPowerOfAttorneyContact.Othertype}} 
            </div>
            <span class="mt-5"><b>Contact name</b></span>
            <div class="col-md-6">
                <span style="color: #808080;">First name/Organization name</span><br>
                {{SecondPowerOfAttorneyContact.FirstName}} 
            </div>
            <div class="col-md-6">
                <span style="color: #808080;">Last name</span><br>
                {{SecondPowerOfAttorneyContact.LastName}}
            </div>
            <span class="mt-5"><b>Contact Details</b></span>
            <div class="col-md-4">
                <span style="color: #808080;">Telephone</span><br>
                {{SecondPowerOfAttorneyContact.Telephone}}
            </div>
        </div>
    </div>
</div>

<div class="row mt25" *ngIf="mode=='edit'">
    <div class="col">
        <div class="row">
            <span><b>Contact note</b></span>
            <div class="col-md-12">
                <input type="text" name="txtResidentIndicators" pInputText
                [(ngModel)]="SecondPowerOfAttorneyContact.ContactNote" [style]="{width: '100%'}" />  
            </div>
            <span class="mt-5"><b>First power of attorney</b></span>
            <div class="col-md-6">
                <span style="color: #808080;">Power of attorney type</span><br>
                <input type="text" name="txtResidentIndicators" pInputText
                [(ngModel)]="SecondPowerOfAttorneyContact.Attorneytype" [style]="{width: '100%'}" />  
            </div>
            <div class="col-md-6">
                <span style="color: #808080;">Other type</span><br>
                <input type="text" name="txtResidentIndicators" pInputText
                [(ngModel)]="SecondPowerOfAttorneyContact.Othertype" [style]="{width: '100%'}" />  
            </div>
            <span class="mt-5"><b>Contact name</b></span>
            <div class="col-md-6">
                <span style="color: #808080;">First name/Organization name</span><br>
                <input type="text" name="txtResidentIndicators" pInputText
                [(ngModel)]="SecondPowerOfAttorneyContact.FirstName" [style]="{width: '100%'}" />  
            </div>
            <div class="col-md-6">
                <span style="color: #808080;">Last name</span><br>
                <input type="text" name="txtResidentIndicators" pInputText
                [(ngModel)]="SecondPowerOfAttorneyContact.LastName" [style]="{width: '100%'}" />  
            </div>
            <span class="mt-5"><b>Contact Details</b></span>
            <div class="col-md-4">
                <span style="color: #808080;">Telephone</span><br>
                <input type="text" name="txtResidentIndicators" pInputText
                [(ngModel)]="SecondPowerOfAttorneyContact.Telephone" [style]="{width: '100%'}" /> 
            </div>
        </div>
    </div>
</div>