<p-accordionTab>
    <p-header class="w-100">
        <div class="acc-tab">
            <span>Allergies</span>
            <div>
            <button *ngIf="mode=='view'" pButton type="button" label="Edit" class="btn btn-primary"
                (click)="edit()"></button>
            <button *ngIf="mode=='edit'" pButton type="button" label="Save" class="btn btn-primary"
                (click)="save()"></button>
            <button *ngIf="mode=='edit'" pButton type="button" label="Cancel" class="btn btn-secondary ml-2"
                (click)="close()"></button>
            </div>
        </div>
</p-header>
<div *ngIf="mode=='view'">
    <p>The resident has no known allergies/ adverse reactions</p>
</div>
<div *ngIf="mode=='edit'">
    <h5>Allergies notes</h5>
    <div class="row">
        <div class="col-md-6">
            <!-- <label class="form-label">Allergy notes</label> -->
            <input pInputText type="text" class="form-control" name="AllergyNotes" [(ngModel)]="Clinical.allergynotes" placeholder="" /> 
            
        </div>
    </div>
    <h5>Allergy details</h5>
    <div class="row">
        <div class="col-md-6">
            <!-- <label class="form-label">Allergy details</label> -->
            <div class="field-checkbox">
                <p-checkbox [(ngModel)]="Clinical.isunknownallergies" [binary]="true" name="DNAR" inputId="binary"></p-checkbox>
                <label for="binary"><b>The resident has no known allergies</b></label>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="Clinical.isunknownallergies">
        <div class="col-md-6">
            <p-dropdown name="ddlUnknownAllergies" [options]="stlstUnknownAllergies" [(ngModel)]="Clinical.unknownreason" optionLabel="name"
                optionValue="code" [filter]="true" [style]="{width: '100%'}">
            </p-dropdown>
        </div>
    </div>
    <div class="row" *ngIf="!Clinical.isunknownallergies">    
        <div class="col-md-12">    
            <table class="table table-striped table-bordered" style="width:100%;">
                <thead>
                    <tr>
                        <th>ALLERGEN</th>
                        <th>REACTION</th>
                        <th>STATUS</th>
                        <th>CREATED BY</th>
                        <th>CREATED DATE</th>
                        <th>CLOSED BY</th>
                        <th>CLOSED DATE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of lstallergies;let i=index">                       
                        <td>
                            
                        </td>
                        <td>
                           
                        </td>
                        <td>
                            <!-- <p-dropdown [required]="true" [options]="stlstIsEnabled" name="txtEnableforResident_{{i}}" [(ngModel)]="col.IsEnabled" optionLabel="name" optionValue="code"
                                placeholder="Select" [style]="{width: '100%'}">
                            </p-dropdown> -->
                        </td>
                        <td>
                            

                        </td>
                        <td>
                            

                        </td>
                        <td>
                            

                        </td>
                        <td>
                            

                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <a class="add-btn mr-2" href="javascript: void(0);"                                
                                (click)="AddNewAllergy()">
                                <i class="fa fa-plus"></i></a>
        </div>       
    </div>
    

    <!-- <div class="row  m-0">
        <div class="col-md-6">
            <p-table class="ColumnFilterTable" #dt [value]="lstallergies" [rowHover]="true"
                [globalFilterFields]="['name']" [scrollable]="true" scrollHeight="calc(100vh - 400px)"
                responsiveLayout="scroll">
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="columns?.length">
                            No records found
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th>Name</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex" let-expanded="expanded">
                    <tr>
                        <td>
                            <p-checkbox name="ChkItemCheck_{{i}}" [(ngModel)]="item.checkAccess" [binary]="true"
                                inputId="binary"></p-checkbox>
                        </td>
                        <td>
                            {{item.name}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div> -->
</div>
</p-accordionTab>