<div class="cart">
    <div class="p-fluid">
        <div class="field grid">
            <h4 class="heading-care">My Care Passport</h4>
        </div>
        <div class="field grid">
            <h6 class="text-hd">It should be kept with me and brought with me into any care requirement, including hospital.</h6>
        </div>
        <div class="field grid">
            <div class="col-12 md:col-3">
                <img style="height:140px !important;width:160px !important;" [src]="'assets/ui/images/avatar/' + objPatient.image" [alt]="objPatient.name" class="w-6 shadow-2 my-1 mx-0">
            </div>
            <div class="col-12 md:col-9">
                <div class="field grid">
                    <label htmlFor="name1" class="col-12 mb-2 md:col-4 md:mb-0 bold">My name is: </label>
                    <div class="col-12 md:col-8">
                        <input type="text" id="namepassport" pInputText [(ngModel)]="CarePassportObj.name">
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="name1" class="col-12 mb-2 md:col-4 md:mb-0 bold">I like to be known as: </label>
                    <div class="col-12 md:col-8">
                        <input type="text" id="NickNamepassport" pInputText [(ngModel)]="CarePassportObj.NickName">
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="name1" class="col-12 mb-2 md:col-4 md:mb-0 bold">Upload Profile Image: </label>
                    <div class="col-12 md:col-8">
                        <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)" accept="image/*">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="field grid">
            <label htmlFor="name1" class="col-12 mb-2 md:col-12 md:mb-0">
                <p><b>This is essential reading for all staff working with me. It gives important information about
                me.</b> This passport should be kept visible and used when you talk to me or think about me.</p> </label>
        </div>
        <div class="field grid">
            <div class="col-12 md:col-4">
                <img src="assets/Images/ThingsPassport1.png" style="height: 182px !important;width: 170px !important;">
            </div>
            <div class="col-12 md:col-4">
                <img src="assets/Images/ThingsPassport2.png" style="height: 182px !important;width: 170px !important;">
            </div>
            <div class="col-12 md:col-4">
                <img src="assets/Images/ThingsPassport3.png" style="height: 182px !important;width: 170px !important;">
            </div>
        </div>
        <hr>
        <div class="field grid">
            <div class="col-12 md:col-12">
                <div class="field grid">
                    <div class="col-12 md:col-12">
                        <div class="field grid">
                            <div class="col-12 md:col-12">
                                <h4 class="heading-care">Basic Information</h4>
                            </div>
                            <div class="col-12 md:col-12">
                                <h6 class="text-hd">This passport needs to be updated if my needs change.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="field grid">
            <div class="col-12 md:col-5">
                <label class="bold">
                    <h5 class="label-name">Where I Currently Live :</h5></label>
                <br><label>For example - supported living or my family home.</label>
            </div>
            <div class="col-12 md:col-7">
                <input type="text" id="CuLivepassport" pInputText [(ngModel)]="CarePassportObj.CurrentlyLive">
            </div>
        </div>
        <div class="field grid">
            <div class="col-12 md:col-5">
                <label class="bold"><h5 class="label-name">Hours of support I get each day :</h5></label>
            </div>
            <div class="col-12 md:col-7">
                <input type="text" id="HrsSupportpassport" pInputText [(ngModel)]="CarePassportObj.HoursofSupport">
            </div>
        </div>
        <div class="field grid">
            <div class="col-12 md:col-5">
                <label class="bold"><h5 class="label-name">Who to contact for more information about me :</h5></label>
                <br>Please say name, role and contact phone number.
            </div>
            <div class="col-12 md:col-7">
                <textarea rows="3" cols="30" id="Contactpassport" [(ngModel)]="CarePassportObj.FamiliContactDetails"  placeholder="" pInputTextarea></textarea>
            </div>
        </div>
        <div class="field grid">
            <div class="col-12 md:col-5">
                <label class="bold"><h5 class="label-name">Other key professionals involved in my care :</h5></label>
                <br>Please say name, role and contact phone number.
            </div>
            <div class="col-12 md:col-7">
                <textarea rows="3" cols="30" id="KeyProfessionalspassport" [(ngModel)]="CarePassportObj.KeyProfessionals"  placeholder="" pInputTextarea></textarea>
            </div>
        </div>
        <div class="field grid">
            <div class="col-12 md:col-4">
                <label class="bold"><h5 class="label-name">This passport was filled in by:</h5></label>
            </div>
            <div class="col-12 md:col-3">
                <input type="text" id="HrsSupportpassport" pInputText [(ngModel)]="CarePassportObj.FilledBy">
            </div>
            <div class="col-12 md:col-2">
                <label class="bold"><h5 class="label-name">Date:</h5></label>
            </div>
            <div class="col-12 md:col-3">
                <p-calendar [(ngModel)]="CarePassportObj.FilledDate"  [showTime]="true" [showSeconds]="true" inputId="time"></p-calendar>
            </div>
        </div>
        <hr>
        <div class="red-cardcvr">
            <div class="redcover">
                <div class="red-heading"><b>1. Adverse drug reactions, allergies or intolerances.</b></div>
                <div class="red-img">
                    <div class=""></div>
                    <div class="field grid">
                        <div class="col-12 md:col-3"><img src="assets/Images/red-img03.png" alt=""></div>
                        <div class="col-12 md:col-9">
                            <p>Please give details including what
                                my reactions would be.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="textare-cover">
                <textarea name="" id="" cols="30" rows="3"></textarea>
            </div>
        </div>
        <br>
        <div class="red-cardcvr">
            <div class="redcover">
                <div class="red-heading"><b>2. Communication -</b>  <span>How well I use and understand speech</span></div>
                <div class="red-img">
                    <div class=""></div>
                    <div class="field grid">
                        <div class="col-12 md:col-2">
                            <img src="assets/Images/red-img01.png" alt="">
                            <img src="assets/Images/red-img02.png" alt="">
                        </div>
                        <div class="col-12 md:col-10">
                            <p>Other ways I communicate - signing, pictures or other languages ? How I show how I feel. How I communicate yes and no.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="textare-cover">
                <textarea name="" id="" cols="30" rows="3"></textarea>
            </div>
        </div>
        <br>
        <div class="red-cardcvr">
            <div class="redcover">
                <div class="red-heading"><b>3. Food and drink - Food allergies / intolerances and help choosing</b></div>
                <div class="red-img">
                    <div class=""></div>
                    <div class="field grid">
                        <div class="col-12 md:col-2">
                            <img src="assets/Images/red-img04.png" alt="">
                        </div>
                        <div class="col-12 md:col-10">
                            <p>Do I need help filling in menus? How I make food and drink choices <br>See also the likes and dislikes section.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="textare-cover">
                <textarea name="" id="" cols="30" rows="3"></textarea>
            </div>
        </div>
        <br>
        <div class="red-cardcvr">
            <div class="redcover">
                <div class="red-heading"><b>4. Eating and drinking - What help I need</b></div>
                <div class="red-img">
                    <div class=""></div>
                    <div class="field grid">
                        <div class="col-12 md:col-2">
                            <img src="assets/Images/red-img05.png" alt="">
                        </div>
                        <div class="col-12 md:col-10">
                            <p>Does my food need to be cut up or liquidised? Do I use dentures to eat?
                                Do I use special equipment? </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="textare-cover">
                <textarea name="" id="" cols="30" rows="3"></textarea>
            </div>
        </div>
        <div class="red-cardcvr">
            <div class="redcover">
                <div class="red-heading"><b>If there is a risk I may choke please give details of my management plan and seating & posture</b></div>
                <div class="red-img">
                    <div class=""></div>
                    <img src="assets/Images/red-img06.png" alt="">
                </div>
            </div>
            <div class="textare-cover">
                <textarea name="" id="" cols="30" rows="3"></textarea>
            </div>
        </div>
        <br>
        <div class="red-cardcvr">
            <div class="redcover">
                <div class="red-heading"><b>5. Pain - How I show I’m in pain and how to support me</b></div>
                <div class="red-img">
                    <div class=""></div>
                    <img src="assets/Images/red-img07.png" alt="">
                </div>
            </div>
            <div class="textare-cover">
                <textarea name="" id="" cols="30" rows="3"></textarea>
            </div>
        </div>
        <br>
        <div class="red-cardcvr">
            <div class="redcover">
                <div class="red-heading"><b>6. Other medical conditions - Such as diabetes, epilepsy, asthma and depression</b></div>
                <div class="red-img">
                    <div class=""></div>
                    <div class="field grid">
                        <div class="col-12 md:col-2">
                            <img src="assets/Images/red-img08.png" alt="">
                        </div>
                        <div class="col-12 md:col-10">
                            <p>See separate medication list. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="textare-cover">
                <textarea name="" id="" cols="30" rows="3"></textarea>
            </div>
        </div>
        <br>
        <div class="red-cardcvr">
            <div class="redcover">
                <div class="red-heading"><b>7. How I take medication - One tablet at a time, on a spoon or via a syringe</b></div>
                <div class="red-img">
                    <div class=""></div>
                    <div class="field grid">
                        <div class="col-12 md:col-2">
                            <img src="assets/Images/red-img09.png" alt="">
                        </div>
                        <div class="col-12 md:col-10">
                            <p>Do I need help to make sure I have swallowed? </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="textare-cover">
                <textarea name="" id="" cols="30" rows="3"></textarea>
            </div>
        </div>
        <br>
        <div class="red-cardcvr">
            <div class="redcover">
                <div class="red-heading"><b>8. How to support me with medical interventions</b></div>
                <div class="red-img">
                    <div class=""></div>
                    <div class="field grid">
                        <div class="col-12 md:col-2">
                            <img src="assets/Images/red-img10.png" alt="">
                        </div>
                        <div class="col-12 md:col-10">
                            <p>Things like taking my temperature, blood pressure, blood test and having injections </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="textare-cover">
                <textarea name="" id="" cols="30" rows="3"></textarea>
            </div>
        </div>
        <br>
        <div class="red-cardcvr">
            <div class="redcover">
                <div class="red-heading"><b>9. How I usually am - for example do I sleep a lot, am I usually very quiet?</b></div>
                <div class="red-img">
                    <div class=""></div>
                    <img src="assets/Images/red-img11.png" alt="">
                </div>
            </div>
            <div class="textare-cover">
                <textarea name="" id="" cols="30" rows="3"></textarea>
            </div>
        </div>
        <br>
        <div class="red-cardcvr">
            <div class="redcover">
                <div class="red-heading"><b>10. How do I react to strange places?</b></div>
                <div class="red-img">
                    <div class=""></div>
                    <img src="assets/Images/red-img12.png" alt="">
                </div>
            </div>
            <div class="textare-cover">
                <textarea name="" id="" cols="30" rows="3"></textarea>
            </div>
        </div>
        <br>
        <div class="red-cardcvr">
            <div class="redcover">
                <div class="red-heading"><b>11. Keeping me safe - Do I wander? Could I fall out of bed? Do I fall?</b></div>
                <div class="red-img">
                    <div class=""></div>
                    <div class="field grid">
                        <div class="col-12 md:col-2">
                            <img src="assets/Images/red-img13.png" alt="">
                        </div>
                        <div class="col-12 md:col-10">
                            <p>Please consider environmental risks. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="textare-cover">
                <textarea name="" id="" cols="30" rows="3"></textarea>
            </div>
        </div>
        <br>
        <div class="red-cardcvr">
            <div class="redcover">
                <div class="red-heading"><b>12. Things that may worry or upset me - How I may show this.</b></div>
                <div class="red-img">
                    <div class=""></div>
                    <img src="assets/Images/red-img14.png" alt="">
                </div>
            </div>
            <div class="textare-cover">
                <textarea name="" id="" cols="30" rows="3"></textarea>
            </div>
        </div>
        <br>
        <div class="red-cardcvr">
            <div class="redcover">
                <div class="red-heading"><b>13. How to support me if I’m anxious or upset - Also see the likes and dislikes section. </b></div>
                <div class="red-img">
                    <div class=""></div>
                    <img src="assets/Images/red-img15.png" alt="">
                </div>
            </div>
            <div class="textare-cover">
                <textarea name="" id="" cols="30" rows="3"></textarea>
            </div>
        </div>
        <br>
        <div class="red-cardcvr">
            <div class="redcover">
                <div class="red-heading"><b>14. Behaviours I have that may be challenging or cause risk</b></div>
                <div class="red-img">
                    <div class=""></div>
                    <div class="field grid">
                        <div class="col-12 md:col-2">
                            <img src="assets/Images/red-img16.png" alt="">
                        </div>
                        <div class="col-12 md:col-10">
                            <p>What you can do to support me with my behaviours - things that help me relax </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="textare-cover">
                <textarea name="" id="" cols="30" rows="3"></textarea>
            </div>
        </div>
        <br>
        <div class="red-cardcvr">
            <div class="redcover">
                <div class="red-heading"><b>15. My sight - Any problems I have, aids I use like glasses or magnifying glass.</b></div>
                <div class="red-img">
                    <div class=""></div>
                    <div class="field grid">
                        <div class="col-12 md:col-2">
                            <img src="assets/Images/red-img17.png" alt="">
                        </div>
                        <div class="col-12 md:col-10">
                            <p>Can I clean my glasses myself? </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="textare-cover">
                <textarea name="" id="" cols="30" rows="3"></textarea>
            </div>
        </div>
        <br>
        <div class="red-cardcvr">
            <div class="redcover">
                <div class="red-heading"><b>16. My hearing - Any problems I have, aids I use like a hearing aid?</b></div>
                <div class="red-img">
                    <div class=""></div>
                    <div class="field grid">
                        <div class="col-12 md:col-2">
                            <img src="assets/Images/red-img18.png" alt="">
                        </div>
                        <div class="col-12 md:col-10">
                            <p>Can I put my hearing aid in myself? Do I know how to turn it on? </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="textare-cover">
                <textarea name="" id="" cols="30" rows="3"></textarea>
            </div>
        </div>
        <br>
        <div class="red-cardcvr">
            <div class="redcover">
                <div class="red-heading"><b>17. Other vital information - Such as advance care decision.</b></div>
                <div class="red-img">
                    <div class=""></div>
                    <div class="field grid">
                        <div class="col-12 md:col-2">
                            <img src="assets/Images/red-img19.png" alt="">
                        </div>
                        <div class="col-12 md:col-10">
                            <p>If I have a ‘Lasting Power of Attorney’ please specify whether it covers ‘Health and Welfare’ and/or ‘Finance
                                and Property’. Please also say if I have an ‘End of Life Care Plan’. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="textare-cover">
                <textarea name="" placeholder="Please also say who holds these documents and how to contact them." id="" cols="30" rows="3"></textarea>
            </div>
        </div>

        <br>
        <div class="field grid">
            <div class="col-12 md:col-5">
                <div class="yellow-cardcvr">
                    <div class="redcover">
                        <div class="yellow-heading"><b>Important people</b></div>
                        <div class="yellow-img">
                            <div class=""></div>
                            <div class="field grid">
                                <div class="col-12 md:col-12">
                                    <p>Family, friends & staff who support me </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="textare-cover">
                        <textarea name="" placeholder="" id="" cols="30" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <img src="assets/Images/red-img25.png" alt="">
            </div>
            <div class="col-12 md:col-5">
                <div class="yellow-cardcvr">
                    <div class="redcover">
                        <div class="yellow-heading"><b>Level of support I need when well</b></div>
                        <div class="yellow-img">
                            <div class=""></div>
                            <div class="field grid">
                                <div class="col-12 md:col-12">
                                    <p>Who needs to stay and how often. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="textare-cover">
                        <textarea name="" placeholder="" id="" cols="30" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="yellow-cardcvr">
            <div class="redcover">
                <div class="yellow-heading"><b>How I use the toilet when I am well -</b>e.g. continence aids and getting to the toilet.</div>
                <div class="yellow-img">
                    <div class=""></div>
                    <div class="field grid">
                        <div class="col-12 md:col-1">
                            <img src="assets/Images/red-img20.png" alt="">
                        </div>
                        <div class="col-12 md:col-11">
                            <div class="textare-cover">
                                <textarea name="" placeholder="" id="" cols="30" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="yellow-cardcvr">
            <div class="redcover">
                <div class="yellow-heading"><b>Personal care  -</b>support I need with things like dressing, washing and teeth cleaning.</div>
                <div class="yellow-img">
                    <div class=""></div>
                    <div class="field grid">
                        <div class="col-12 md:col-2">
                            <img src="assets/Images/red-img21.png" alt="">
                        </div>
                        <div class="col-12 md:col-10">
                            <div class="textare-cover">
                                <textarea name="" placeholder="" id="" cols="30" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="yellow-cardcvr">
            <div class="redcover">
                <div class="yellow-heading"><b>Moving around  -</b>for example posture in bed, walking aids and wheelchair.</div>
                <div class="yellow-img">
                    <div class="ml-3">Do I need help with moving around?</div>
                    <div class="field grid">
                        <div class="col-12 md:col-2">
                            <img src="assets/Images/red-img22.png" alt="">
                        </div>
                        <div class="col-12 md:col-10">
                            <div class="textare-cover">
                                <textarea name="" placeholder="" id="" cols="30" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="yellow-cardcvr mb-2">
            <div class="redcover">
                <div class="yellow-heading"><b>Sleeping  -</b>my sleep pattern / routine / time of waking.</div>
                <div class="yellow-img">
                    <div class="ml-3"></div>
                    <div class="field grid">
                        <div class="col-12 md:col-2">
                            <img src="assets/Images/red-img23.png" alt="">
                        </div>
                        <div class="col-12 md:col-10">
                            <div class="textare-cover">
                                <textarea name="" placeholder="" id="" cols="30" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field grid">
            <div class="col-12 md:col-12 bold" style="text-align:center ;"><h3>My likes and dislikes</h3></div>
        </div>
        <div class="field grid">
            <div class="col-12 md:col-5">
                <div class="green-cardcvr">
                    <div class="redcover">
                        <div class="green-heading"><b>Things I like</b></div>
                        <div class="green-img">
                            <div class=""></div>
                            <div class="field grid">
                                <div class="col-12 md:col-12" style="height:41px ;">
                                    <p><b>Could include:</b>
                                        Music, TV, foods, activities and how I
                                        relax. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="textare-cover">
                        <textarea name="" placeholder="" id="" cols="30" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <img src="assets/Images/red-img24.png" alt="">
            </div>
            <div class="col-12 md:col-5">
                <div class="green-cardcvr">
                    <div class="redcover">
                        <div class="green-heading"><b>Things I don’t like</b></div>
                        <div class="green-img">
                            <div class=""></div>
                            <div class="field grid">
                                <div class="col-12 md:col-12" style="height:41px ;">
                                    <p><b>Could include:</b>
                                        Things that worry me, foods, activities
                                        and ways I don’t like being treated. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="textare-cover">
                        <textarea name="" placeholder="" id="" cols="30" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="green-cardcvr">
            <div class="redcover">
                <div class="green-heading"><b>My history - </b>What is important that you know about my life (past and present)</div>
                <div class="green-img">
                    <div class="ml-3">Please also use this space for any further information</div>
                </div>
            </div>
            <div class="textare-cover">
                <textarea name="" placeholder="" id="" cols="30" rows="5"></textarea>
            </div>
        </div>

    </div>
</div>
